
  <noscript data-n-head="ssr" data-hid="gtm-noscript" data-pbody="true"><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-W9TGXV9&amp;" height="0" width="0"
      style="display:none;visibility:hidden" title="gtm"></iframe></noscript><noscript data-n-head="ssr"
    data-hid="gtm-noscript" data-pbody="true"><iframe
      src="http://www.googletagmanager.com/ns.html?id=GTM-W9TGXV9&amp;l=dataLayer" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <div data-server-rendered="true" id="__nuxt">
    <!---->
    <div id="__layout">
      <div>
        <div id="scrollTop"></div>
        <div data-v-c4c3ca86>
          <header class="container-fluid" data-v-c4c3ca86>
            <div class="d-flex container-header" data-v-c4c3ca86>
              <div data-v-c4c3ca86><a href="/" class="router-link-active" data-v-c4c3ca86><img
                    src="images/logo.png" alt="Riviu logo" class="logo" data-v-c4c3ca86></a></div>
              <div class="center-box flex-fill d-flex mx-3" data-v-c4c3ca86>
                <div class="box-left region" style="line-height: 46px" data-v-c4c3ca86><button id="dropdownRegion"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"
                    data-v-c4c3ca86><span class="province-name" data-v-c4c3ca86>Hồ Chí Minh</span></button>
                  <div aria-labelledby="dropdownRegion" class="dropdown-menu dropdown-region mt-3 px-4 py-3"
                    data-v-c4c3ca86>
                    <div class="location-wrapper col-xs-12" data-v-c4c3ca86>
                      <div class="popular-location" data-v-c4c3ca86>
                        <div class="title" data-v-c4c3ca86>Các địa điểm phổ biến</div>
                        <div id="location-list" class="location-list" data-v-c4c3ca86>
                          <div class="region-name hover" data-v-c4c3ca86><a href="javascript:void(0)" data-v-c4c3ca86>Hồ
                              Chí Minh</a></div>
                          <div class="region-name hover" data-v-c4c3ca86><a href="javascript:void(0)" data-v-c4c3ca86>Hà
                              Nội</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex-grow-1 box-search" data-v-c4c3ca86><input type="search" autocomplete="none"
                    placeholder="Đi đâu, ăn gì?" id="dropdownSearch" data-toggle="dropdown" aria-haspopup="true"
                    value="" class="form-control dropdown-toggle ml-1" style="height: 100%; background: transparent"
                    data-v-c4c3ca86> <button type="button" class="btn search-btn" data-v-c4c3ca86><img
                      src="images/icon/search.png" alt="search.png" class="icon" data-v-c4c3ca86></button>
                  <div aria-labelledby="dropdownSearch" class="dropdown-menu dropdown-search mt-3 px-4 py-3"
                    data-v-c4c3ca86><br data-v-c4c3ca86>
                    <div data-v-09de05dc data-v-c4c3ca86>
                      <div class="history-search" data-v-09de05dc>
                        <div data-v-1664ab72 data-v-09de05dc>
                          <div class="title mb-2 mt-1" data-v-1664ab72>
                            <p class="mb-2 mt-2 d-flex" data-v-1664ab72><span class="title flex-grow-1"
                                data-v-1664ab72>Lịch sử tìm kiếm</span>
                              <!---->
                            </p>
                          </div>
                          <div class="row keyword-search-wrapper" data-v-1664ab72>
                            <!---->
                          </div>
                        </div>
                      </div>
                      <div class="keyword" data-v-09de05dc>
                        <p class="title mb-2 mt-1" data-v-09de05dc>Các địa điểm phổ biến</p>
                        <div class="keyword-search-wrapper d-flex align-items-center flex-wrap" data-v-09de05dc></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-v-c4c3ca86>
                <div class="btn-group dropdown" data-v-b7d3cf5a data-v-c4c3ca86>
                  <div type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    class="dropdown-toggle" data-v-b7d3cf5a>
                    <div style="margin-right:15px;" data-v-b7d3cf5a data-v-c4c3ca86><a href="javascript:void(0)"
                        class="text-truncate" style="max-width:100%;" data-v-b7d3cf5a data-v-c4c3ca86><img alt="Riviu"
                          title="Riviu" src="images/icon/noti_icon.png" style="object-fit:cover;width:44px;height:44px;"
                          data-v-334ef38b data-v-c4c3ca86></a></div>
                  </div>
                  <div class="dropdown-menu" data-v-b7d3cf5a></div>
                </div>
              </div>
              <div data-v-c4c3ca86>
                <div class="login-div" data-v-c4c3ca86><a href="/viet-bai" class="hover hover-ic"
                    data-v-c4c3ca86><span class="login-item" data-v-c4c3ca86>Viết bài</span></a></div>
              </div>
              <!---->
            </div>
          </header>
          <div class="container-ads" data-v-c4c3ca86>
            <!---->
          </div>
        </div>
        <div id="main">
          <div data-v-0ecf4498>
            <!---->
            <!---->
            <!---->
            <div data-v-0ecf4498>
              <div class="container" data-v-01406f35 data-v-0ecf4498>
                <div class="collection-post-content container-content" data-v-01406f35>
                  <div data-v-01406f35>
                    <nav aria-label="breadcrumb" data-v-53d0ffbc data-v-01406f35>
                      <ol class="breadcrumb" data-v-53d0ffbc>
                        <li class="breadcrumb-item" data-v-53d0ffbc data-v-01406f35><a href="/"
                            class="router-link-active" data-v-01406f35>Trang chủ</a></li>
                        <li aria-current="page" class="breadcrumb-item active" data-v-53d0ffbc data-v-01406f35>
                          Cà phê hẹn hò
                        </li>
                      </ol>
                    </nav>
                  </div>
                  <div data-v-a4109018 data-v-01406f35>
                    <div style="position: relative;" data-v-a4109018>
                      <div
                        class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_banner-collection"
                        data-v-334ef38b data-v-a4109018><img alt="ca phe hen ho" title="Cà phê hẹn hò" src="#"
                          class="  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                      <div class="overplay cover" data-v-a4109018></div> <span class="hover hover-ic icon-share"
                        data-v-a4109018><img src="images/icon/share_white.png" alt="share_black.png" class="icon"
                          data-v-a4109018></span>
                    </div>
                    <h1 class="d-flex justify-content-center align-items-center py-3 title px-2" data-v-a4109018>Cà phê
                      hẹn hò</h1>
                  </div>
                  <div class="collection-item d-flex mt-3" data-v-ccafa7e2 data-v-01406f35>
                    <div class="author-avatar mt-3" data-v-ccafa7e2><a href="trantrinh277.html" class="hover"
                        data-v-ccafa7e2>
                        <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                          data-v-334ef38b data-v-ccafa7e2><img alt="tran trinh" title="Trần Trinh"
                            src="images/static.riviu.co/320/image/2020/10/17/776e4cf10862c7e0b03a3ac822fe2957_output.jpg"
                            class="rounded-circle  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                      </a></div>
                    <div class="flex-grow-1 mt-3" style="width: calc(100% - 80px)" data-v-ccafa7e2>
                      <div class="mb-4 d-flex align-items-center" data-v-ccafa7e2>
                        <div class="author-info ml-4" data-v-ccafa7e2>
                          <div class="author-name d-flex align-items-center hover" data-v-ccafa7e2>
                            <p class="font-weight-bold" data-v-ccafa7e2><a href="trantrinh277.html" data-v-ccafa7e2>
                                <h3 class="author-h3" data-v-ccafa7e2>Trần Trinh</h3>
                              </a></p> <small class="ml-2" data-v-ccafa7e2>Level 6</small>
                          </div>
                          <div class="author-summary" data-v-ccafa7e2><span class="mr-2 pr-2" data-v-ccafa7e2>17/12/2020
                              lúc 14:58</span></div>
                        </div>
                        <div class="btn-follow flex-grow-1 text-right" data-v-ccafa7e2><button class="follow"
                            data-v-ccafa7e2>Theo dõi</button></div>
                      </div>
                      <div class="medias mb-3" data-v-ccafa7e2>
                        <div data-v-0d7e042e data-v-ccafa7e2>
                          <!---->
                          <!---->
                          <!---->
                          <div data-v-0d7e042e>
                            <div data-v-64d5f86c data-v-0d7e042e>
                              <div class="media-wrapper row" data-v-64d5f86c></div>
                            </div>
                          </div>
                          <!---->
                        </div>
                      </div>
                      <div class="col-12" data-v-ccafa7e2>
                        <h3 class="title mb-3" data-v-ccafa7e2><b data-v-ccafa7e2><a
                              href="ca-phe-hinh-ong-cong-vang-ruc.html" data-v-ccafa7e2>
                              <h2 class="title-h2" data-v-ccafa7e2>Cà phê hình ống cống vàng rực</h2>
                            </a></b></h3>
                        <div class="content white-space-word mb-3" data-v-ccafa7e2>
                          <div class="content white-space-word mb-3" data-v-4a59fdc4 data-v-ccafa7e2>
                            Không lẫn vào đâu được – Đó chính là không gian độc đáo của quán Lily’s Garden Coffee thuộc
                            quận Thủ Đức. Ngoài khu cà phê ống cống màu vàng rực, quán còn xuất hiện phiên bản cầu kính
                            bên dưới là hồ c...
                            <span class="hover btn-see-more-content" data-v-4a59fdc4>Xem thêm</span>
                          </div>
                        </div>
                        <div class="tags-wrapper mb-3 mb-3" data-v-c375d064 data-v-ccafa7e2><a
                            href="hashtag/duongso6.html" class="mr-1" data-v-c375d064><span style="font-size:14px;"
                              data-v-c375d064>#duongso6</span></a><a href="hashtag/quanthuduc.html" class="mr-1"
                            data-v-c375d064><span style="font-size:14px;" data-v-c375d064>#quanthuduc</span></a><a
                            href="hashtag/trinhtran277.html" class="mr-1" data-v-c375d064><span style="font-size:14px;"
                              data-v-c375d064>#trinhtran277</span></a><a href="hashtag/lilygarden.html" class="mr-1"
                            data-v-c375d064><span style="font-size:14px;" data-v-c375d064>#lilygarden</span></a></div>
                        <div class="d-flex align-items-center mb-3" data-v-ccafa7e2>
                          <div class="star-rating mr-3" data-v-7206ba8a data-v-ccafa7e2><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="0" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="1" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="2" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="3" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="4" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label></div>
                          <div class="list-service d-flex align-items-center" data-v-5099d666 data-v-ccafa7e2></div>
                        </div>
                        <div class="place-wrapper d-flex align-items-stretch justify-content-between mb-3"
                          data-v-2adb8eb5 data-v-ccafa7e2>
                          <div class="flex-grow-1 p-3 d-flex info-wrapper align-items-center" data-v-2adb8eb5><a
                              href="lily-s-garden-caffee.html" class="place-avatar hover" data-v-2adb8eb5>
                              <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                                data-v-334ef38b data-v-2adb8eb5><img alt="lily's garden caffee "
                                  title="Lily's Garden Caffee "
                                  src="../cdn01.diadiemanuong.com/ddau/smallx/lilys-garden-caffee-cfe7eaa5636967982981685958.html"
                                  class="  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                            </a> <a href="lily-s-garden-caffee.html" class="box-info ml-3" data-v-2adb8eb5>
                              <h3 class="title hover" data-v-2adb8eb5><b data-v-2adb8eb5>Lily's Garden Caffee </b></h3>
                              <!---->
                              <p class="text-truncate address" style="max-width:100%;" data-v-2adb8eb5>114 Đường số 6,
                                Tam Phú, Quận Thủ Đức, TP. Hồ Chí ...</p>
                            </a></div>
                          <!---->
                        </div>
                        <div class="action d-flex align-items-center justify-content-between px-4" data-v-ccafa7e2>
                          <div class="hover hover-ic" data-v-ccafa7e2><img src="images/icon/heart.png" alt="heart.png"
                              class="icon" data-v-ccafa7e2> <span class="ml-1" data-v-ccafa7e2>0</span></div>
                          <div class="hover" data-v-ccafa7e2><a
                              href="post/3d132c59eb904bf08ac892f6337a59d9.html#comment" data-v-ccafa7e2><img
                                src="images/icon/comment.png" alt="Riviu" class="icon ml-3" data-v-ccafa7e2></a>
                            <!---->
                          </div>
                          <div class="hover hover-ic" data-v-ccafa7e2><img src="images/icon/bookmark_black.png"
                              alt="Riviu" class="icon ml-3" data-v-ccafa7e2></div>
                          <div class="hover" data-v-ccafa7e2><img src="images/icon/share_black.png" alt="share.png"
                              class="icon ml-3" data-v-ccafa7e2></div>
                        </div> <br data-v-ccafa7e2>
                      </div>
                    </div>
                  </div>
                  <div class="collection-item d-flex mt-3" data-v-ccafa7e2 data-v-01406f35>
                    <div class="author-avatar mt-3" data-v-ccafa7e2><a href="chauloan0699.html" class="hover"
                        data-v-ccafa7e2>
                        <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                          data-v-334ef38b data-v-ccafa7e2><img alt="chau loan" title="Châu Loan"
                            src="images/static.riviu.co/320/image/2020/11/04/9dcd8f390f1441871cdd6166c96812a2_output.jpg"
                            class="rounded-circle  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                      </a></div>
                    <div class="flex-grow-1 mt-3" style="width: calc(100% - 80px)" data-v-ccafa7e2>
                      <div class="mb-4 d-flex align-items-center" data-v-ccafa7e2>
                        <div class="author-info ml-4" data-v-ccafa7e2>
                          <div class="author-name d-flex align-items-center hover" data-v-ccafa7e2>
                            <p class="font-weight-bold" data-v-ccafa7e2><a href="chauloan0699.html" data-v-ccafa7e2>
                                <h3 class="author-h3" data-v-ccafa7e2>Châu Loan</h3>
                              </a></p> <small class="ml-2" data-v-ccafa7e2>Level 6</small>
                          </div>
                          <div class="author-summary" data-v-ccafa7e2><span class="mr-2 pr-2" data-v-ccafa7e2>17/12/2020
                              lúc 09:25</span></div>
                        </div>
                        <div class="btn-follow flex-grow-1 text-right" data-v-ccafa7e2><button class="follow"
                            data-v-ccafa7e2>Theo dõi</button></div>
                      </div>
                      <div class="medias mb-3" data-v-ccafa7e2>
                        <div data-v-0d7e042e data-v-ccafa7e2>
                          <!---->
                          <!---->
                          <!---->
                          <div data-v-0d7e042e>
                            <div data-v-64d5f86c data-v-0d7e042e>
                              <div class="media-wrapper row" data-v-64d5f86c></div>
                            </div>
                          </div>
                          <!---->
                        </div>
                      </div>
                      <div class="col-12" data-v-ccafa7e2>
                        <h3 class="title mb-3" data-v-ccafa7e2><b data-v-ccafa7e2><a href="sai-gon-coffee-roaster.html"
                              data-v-ccafa7e2>
                              <h2 class="title-h2" data-v-ccafa7e2>Sai Gon Coffee Roaster 😍😍</h2>
                            </a></b></h3>
                        <div class="content white-space-word mb-3" data-v-ccafa7e2>
                          <div class="content white-space-word mb-3" data-v-4a59fdc4 data-v-ccafa7e2>
                            Saigon Coffee Roastery (SCR), lầu 1, 151 Đồng Khởi, Q1, HCM

                            Có thể nói rằng đây là quán có cf chất &amp; ngon nhất mà mình từng đến.🥰🥰

                            Địa chỉ không dễ tìm với những ai vừa đến lần đầu. Từ Nhà thờ Đức...
                            <span class="hover btn-see-more-content" data-v-4a59fdc4>Xem thêm</span>
                          </div>
                        </div>
                        <div class="tags-wrapper mb-3 mb-3" data-v-c375d064 data-v-ccafa7e2><a href="hashtag/coffe.html"
                            class="mr-1" data-v-c375d064><span style="font-size:14px;"
                              data-v-c375d064>#coffe</span></a><a href="hashtag/coffee-quan1.html" class="mr-1"
                            data-v-c375d064><span style="font-size:14px;" data-v-c375d064>#coffee_quan1</span></a><a
                            href="hashtag/coffe-thu-gian.html" class="mr-1" data-v-c375d064><span
                              style="font-size:14px;" data-v-c375d064>#coffe_thu_gian</span></a><a
                            href="hashtag/chauwan.html" class="mr-1" data-v-c375d064><span style="font-size:14px;"
                              data-v-c375d064>#chauwan</span></a></div>
                        <div class="d-flex align-items-center mb-3" data-v-ccafa7e2>
                          <div class="star-rating mr-3" data-v-7206ba8a data-v-ccafa7e2><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="0" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="1" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="2" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="3" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="4" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label></div>
                          <div class="list-service d-flex align-items-center" data-v-5099d666 data-v-ccafa7e2></div>
                        </div>
                        <div class="place-wrapper d-flex align-items-stretch justify-content-between mb-3"
                          data-v-2adb8eb5 data-v-ccafa7e2>
                          <div class="flex-grow-1 p-3 d-flex info-wrapper align-items-center" data-v-2adb8eb5><a
                              href="saigon-coffee-roastery-1515-dong-khoi-street-district-1-ho-chi-minh-city.html"
                              class="place-avatar hover" data-v-2adb8eb5>
                              <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                                data-v-334ef38b data-v-2adb8eb5><img
                                  alt="saigon coffee roastery ( 151/5 dong khoi street, district 1, ho chi minh city ))"
                                  title="SaiGon Coffee Roastery ( 151/5 Dong Khoi street, district 1, Ho chi minh city ))"
                                  src="images/static.riviu.co/320/image/2020/12/17/d41cb3150f87ca33e83f722f117759de_output.jpg"
                                  class="  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                            </a> <a href="saigon-coffee-roastery-1515-dong-khoi-street-district-1-ho-chi-minh-city.html"
                              class="box-info ml-3" data-v-2adb8eb5>
                              <h3 class="title hover" data-v-2adb8eb5><b data-v-2adb8eb5>SaiGon Coffee Roastery ( 151/5
                                  Dong Khoi street, district 1, Ho chi minh city ))</b></h3>
                              <!---->
                              <p class="text-truncate address" style="max-width:100%;" data-v-2adb8eb5>151, 5 Đồng Khởi,
                                Street, Quận 1, Thành phố Hồ Chí...</p>
                            </a></div>
                          <!---->
                        </div>
                        <div class="action d-flex align-items-center justify-content-between px-4" data-v-ccafa7e2>
                          <div class="hover hover-ic" data-v-ccafa7e2><img src="images/icon/heart.png" alt="heart.png"
                              class="icon" data-v-ccafa7e2> <span class="ml-1" data-v-ccafa7e2>0</span></div>
                          <div class="hover" data-v-ccafa7e2><a
                              href="post/e17d04b467ae49ed82b0a60d4b48ee96.html#comment" data-v-ccafa7e2><img
                                src="images/icon/comment.png" alt="Riviu" class="icon ml-3" data-v-ccafa7e2></a>
                            <!---->
                          </div>
                          <div class="hover hover-ic" data-v-ccafa7e2><img src="images/icon/bookmark_black.png"
                              alt="Riviu" class="icon ml-3" data-v-ccafa7e2></div>
                          <div class="hover" data-v-ccafa7e2><img src="images/icon/share_black.png" alt="share.png"
                              class="icon ml-3" data-v-ccafa7e2></div>
                        </div> <br data-v-ccafa7e2>
                      </div>
                    </div>
                  </div>
                  <div class="collection-item d-flex mt-3" data-v-ccafa7e2 data-v-01406f35>
                    <div class="author-avatar mt-3" data-v-ccafa7e2><a href="trucquynhjunmi.html" class="hover"
                        data-v-ccafa7e2>
                        <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                          data-v-334ef38b data-v-ccafa7e2><img alt="trucquynh junmi" title="TrucQuynh Junmi"
                            src="images/static.riviu.co/320/image/2020/12/15/b08a337e05718cbc42f209669dc7a98d_output.jpg"
                            class="rounded-circle  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                      </a></div>
                    <div class="flex-grow-1 mt-3" style="width: calc(100% - 80px)" data-v-ccafa7e2>
                      <div class="mb-4 d-flex align-items-center" data-v-ccafa7e2>
                        <div class="author-info ml-4" data-v-ccafa7e2>
                          <div class="author-name d-flex align-items-center hover" data-v-ccafa7e2>
                            <p class="font-weight-bold" data-v-ccafa7e2><a href="trucquynhjunmi.html" data-v-ccafa7e2>
                                <h3 class="author-h3" data-v-ccafa7e2>TrucQuynh Junmi</h3>
                              </a></p> <small class="ml-2" data-v-ccafa7e2>Level 4</small>
                          </div>
                          <div class="author-summary" data-v-ccafa7e2><span class="mr-2 pr-2" data-v-ccafa7e2>17/12/2020
                              lúc 03:07</span></div>
                        </div>
                        <div class="btn-follow flex-grow-1 text-right" data-v-ccafa7e2><button class="follow"
                            data-v-ccafa7e2>Theo dõi</button></div>
                      </div>
                      <div class="medias mb-3" data-v-ccafa7e2>
                        <div data-v-0d7e042e data-v-ccafa7e2>
                          <!---->
                          <!---->
                          <!---->
                          <div data-v-0d7e042e>
                            <div data-v-64d5f86c data-v-0d7e042e>
                              <div class="media-wrapper row" data-v-64d5f86c></div>
                            </div>
                          </div>
                          <!---->
                        </div>
                      </div>
                      <div class="col-12" data-v-ccafa7e2>
                        <h3 class="title mb-3" data-v-ccafa7e2><b data-v-ccafa7e2><a
                              href="vao-quan-cafe-an-mon-tay.html" data-v-ccafa7e2>
                              <h2 class="title-h2" data-v-ccafa7e2>Vào quán cafe ăn món Tây 😂</h2>
                            </a></b></h3>
                        <div class="content white-space-word mb-3" data-v-ccafa7e2>
                          <div class="content white-space-word mb-3" data-v-4a59fdc4 data-v-ccafa7e2>
                            Chào cả nhà,
                            Lâu lắm mới tâm đắc một quán ngon để review lên hội cho mọi người cùng có cơ hội thưởng thức
                            như mình😆.
                            Trước giờ mình cứ tưởng Bít tết Titi là ngon rẻ thôi, nào ngờ đã tìm được quán m...
                            <span class="hover btn-see-more-content" data-v-4a59fdc4>Xem thêm</span>
                          </div>
                        </div>
                        <div class="tags-wrapper mb-3 mb-3" data-v-c375d064 data-v-ccafa7e2><a
                            href="hashtag/reviewcafe.html" class="mr-1" data-v-c375d064><span style="font-size:14px;"
                              data-v-c375d064>#reviewcafe</span></a><a href="hashtag/montay.html" class="mr-1"
                            data-v-c375d064><span style="font-size:14px;" data-v-c375d064>#montay</span></a><a
                            href="hashtag/reviewmontay.html" class="mr-1" data-v-c375d064><span style="font-size:14px;"
                              data-v-c375d064>#reviewmontay</span></a><a href="junmireview.html" class="mr-1"
                            data-v-c375d064><span style="font-size:14px;" data-v-c375d064>#junmireview</span></a></div>
                        <div class="d-flex align-items-center mb-3" data-v-ccafa7e2>
                          <div class="star-rating mr-3" data-v-7206ba8a data-v-ccafa7e2><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="0" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="1" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="2" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="3" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="4" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label></div>
                          <div class="list-service d-flex align-items-center" data-v-5099d666 data-v-ccafa7e2></div>
                        </div>
                        <div class="place-wrapper d-flex align-items-stretch justify-content-between mb-3"
                          data-v-2adb8eb5 data-v-ccafa7e2>
                          <div class="flex-grow-1 p-3 d-flex info-wrapper align-items-center" data-v-2adb8eb5><a
                              href="cosmo-cafe-bistro.html" class="place-avatar hover" data-v-2adb8eb5>
                              <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                                data-v-334ef38b data-v-2adb8eb5><img alt="cosmo cafe &amp; bistro"
                                  title="Cosmo Cafe &amp; Bistro"
                                  src="images/static.riviu.vn/320/image/2020/07/20/37aff39941b244e4a4d73ae090844a8a.jpg"
                                  class="  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                            </a> <a href="cosmo-cafe-bistro.html" class="box-info ml-3" data-v-2adb8eb5>
                              <h3 class="title hover" data-v-2adb8eb5><b data-v-2adb8eb5>Cosmo Cafe &amp; Bistro</b>
                              </h3>
                              <!---->
                              <p class="text-truncate address" style="max-width:100%;" data-v-2adb8eb5>214 Nguyễn Trọng
                                Tuyển, P. 8, Quận Phú Nhuận, Hồ C...</p>
                            </a></div>
                          <!---->
                        </div>
                        <div class="action d-flex align-items-center justify-content-between px-4" data-v-ccafa7e2>
                          <div class="hover hover-ic" data-v-ccafa7e2><img src="images/icon/heart.png" alt="heart.png"
                              class="icon" data-v-ccafa7e2> <span class="ml-1" data-v-ccafa7e2>0</span></div>
                          <div class="hover" data-v-ccafa7e2><a
                              href="post/09bf552b5a6b413bb79aabee18538278.html#comment" data-v-ccafa7e2><img
                                src="images/icon/comment.png" alt="Riviu" class="icon ml-3" data-v-ccafa7e2></a>
                            <!---->
                          </div>
                          <div class="hover hover-ic" data-v-ccafa7e2><img src="images/icon/bookmark_black.png"
                              alt="Riviu" class="icon ml-3" data-v-ccafa7e2></div>
                          <div class="hover" data-v-ccafa7e2><img src="images/icon/share_black.png" alt="share.png"
                              class="icon ml-3" data-v-ccafa7e2></div>
                        </div> <br data-v-ccafa7e2>
                      </div>
                    </div>
                  </div>
                  <div class="collection-item d-flex mt-3" data-v-ccafa7e2 data-v-01406f35>
                    <div class="author-avatar mt-3" data-v-ccafa7e2><a href="tam3839.html" class="hover"
                        data-v-ccafa7e2>
                        <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                          data-v-334ef38b data-v-ccafa7e2><img alt="tam riviu" title="Tâm riviu"
                            src="images/static.riviu.co/320/image/2020/11/26/a2d3519a50ae748ff0039f94f5a4d759_output.jpg"
                            class="rounded-circle  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                      </a></div>
                    <div class="flex-grow-1 mt-3" style="width: calc(100% - 80px)" data-v-ccafa7e2>
                      <div class="mb-4 d-flex align-items-center" data-v-ccafa7e2>
                        <div class="author-info ml-4" data-v-ccafa7e2>
                          <div class="author-name d-flex align-items-center hover" data-v-ccafa7e2>
                            <p class="font-weight-bold" data-v-ccafa7e2><a href="tam3839.html" data-v-ccafa7e2>
                                <h3 class="author-h3" data-v-ccafa7e2>Tâm riviu</h3>
                              </a></p> <small class="ml-2" data-v-ccafa7e2>Level 6</small>
                          </div>
                          <div class="author-summary" data-v-ccafa7e2><span class="mr-2 pr-2" data-v-ccafa7e2>16/12/2020
                              lúc 17:46</span></div>
                        </div>
                        <div class="btn-follow flex-grow-1 text-right" data-v-ccafa7e2><button class="follow"
                            data-v-ccafa7e2>Theo dõi</button></div>
                      </div>
                      <div class="medias mb-3" data-v-ccafa7e2>
                        <div data-v-0d7e042e data-v-ccafa7e2>
                          <!---->
                          <!---->
                          <!---->
                          <div data-v-0d7e042e>
                            <div data-v-64d5f86c data-v-0d7e042e>
                              <div class="media-wrapper row" data-v-64d5f86c></div>
                            </div>
                          </div>
                          <!---->
                        </div>
                      </div>
                      <div class="col-12" data-v-ccafa7e2>
                        <h3 class="title mb-3" data-v-ccafa7e2><b data-v-ccafa7e2><a href="coffee-ngam-chim-cu-meo.html"
                              data-v-ccafa7e2>
                              <h2 class="title-h2" data-v-ccafa7e2>Coffee ngắm chim Cú Mèo 😍😍😍</h2>
                            </a></b></h3>
                        <div class="content white-space-word mb-3" data-v-ccafa7e2>
                          <div class="content white-space-word mb-3" data-v-4a59fdc4 data-v-ccafa7e2>
                            Vô tình đi ngang thấy quán Coffee tên Cú mèo khá dễ thương nên vào uống thử. Ai ngờ được gặp
                            cú mèo thật. To y chang phim Harry Porter 🤣🤣🤣
                            Trong hình, là hotboy(Hoặc hot girl) của quán, nằm ở ngay ...
                            <span class="hover btn-see-more-content" data-v-4a59fdc4>Xem thêm</span>
                          </div>
                        </div>
                        <div class="tags-wrapper mb-3 mb-3" data-v-c375d064 data-v-ccafa7e2><a href="hashtag/daxay.html"
                            class="mr-1" data-v-c375d064><span style="font-size:14px;"
                              data-v-c375d064>#daxay</span></a><a href="hashtag/coffee-202.html" class="mr-1"
                            data-v-c375d064><span style="font-size:14px;" data-v-c375d064>#coffee</span></a><a
                            href="hashtag/coffeequan7.html" class="mr-1" data-v-c375d064><span style="font-size:14px;"
                              data-v-c375d064>#coffeequan7</span></a><a href="hashtag/cumeo.html" class="mr-1"
                            data-v-c375d064><span style="font-size:14px;" data-v-c375d064>#cumeo</span></a><a
                            href="hashtag/caphecumeo.html" class="mr-1" data-v-c375d064><span style="font-size:14px;"
                              data-v-c375d064>#caphecumeo</span></a><a href="hashtag/quan7-1.html" class="mr-1"
                            data-v-c375d064><span style="font-size:14px;" data-v-c375d064>#quan7</span></a><a
                            href="hashtag/tamriviu-20114.html" class="mr-1" data-v-c375d064><span
                              style="font-size:14px;" data-v-c375d064>#tamriviu</span></a></div>
                        <div class="d-flex align-items-center mb-3" data-v-ccafa7e2>
                          <div class="star-rating mr-3" data-v-7206ba8a data-v-ccafa7e2><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="0" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="1" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="2" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="3" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="4" checked="checked"
                                class="star-rating star-rating__checkbox" data-v-7206ba8a> <i class="fas fa-star"
                                data-v-7206ba8a></i></label></div>
                          <div class="list-service d-flex align-items-center" data-v-5099d666 data-v-ccafa7e2></div>
                        </div>
                        <div class="place-wrapper d-flex align-items-stretch justify-content-between mb-3"
                          data-v-2adb8eb5 data-v-ccafa7e2>
                          <div class="flex-grow-1 p-3 d-flex info-wrapper align-items-center" data-v-2adb8eb5><a
                              href="cu-meo-coffee.html" class="place-avatar hover" data-v-2adb8eb5>
                              <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                                data-v-334ef38b data-v-2adb8eb5><img alt="cu meo coffee" title="Cú Mèo Coffee"
                                  src="images/static.riviu.vn/320/oc_gallery/2019/04/26/cf3827f7626877d2b202d7d16d210f996aa2002e.png"
                                  class="  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                            </a> <a href="cu-meo-coffee.html" class="box-info ml-3" data-v-2adb8eb5>
                              <h3 class="title hover" data-v-2adb8eb5><b data-v-2adb8eb5>Cú Mèo Coffee</b></h3>
                              <!---->
                              <p class="text-truncate address" style="max-width:100%;" data-v-2adb8eb5>96 Đường Số 79,
                                Quận 9, Hồ Chí Minh</p>
                            </a></div>
                          <!---->
                        </div>
                        <div class="action d-flex align-items-center justify-content-between px-4" data-v-ccafa7e2>
                          <div class="hover hover-ic" data-v-ccafa7e2><img src="images/icon/heart.png" alt="heart.png"
                              class="icon" data-v-ccafa7e2> <span class="ml-1" data-v-ccafa7e2>0</span></div>
                          <div class="hover" data-v-ccafa7e2><a
                              href="post/7a28194c0e7a44faaf63ab106f51b825.html#comment" data-v-ccafa7e2><img
                                src="images/icon/comment.png" alt="Riviu" class="icon ml-3" data-v-ccafa7e2></a> <span
                              class="ml-1" data-v-ccafa7e2>2</span></div>
                          <div class="hover hover-ic" data-v-ccafa7e2><img src="images/icon/bookmark_black.png"
                              alt="Riviu" class="icon ml-3" data-v-ccafa7e2></div>
                          <div class="hover" data-v-ccafa7e2><img src="images/icon/share_black.png" alt="share.png"
                              class="icon ml-3" data-v-ccafa7e2></div>
                        </div> <br data-v-ccafa7e2>
                      </div>
                    </div>
                  </div>
                  <div class="collection-item d-flex mt-3" data-v-ccafa7e2 data-v-01406f35>
                    <div class="author-avatar mt-3" data-v-ccafa7e2><a href="huynh.ngoc.html" class="hover"
                        data-v-ccafa7e2>
                        <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                          data-v-334ef38b data-v-ccafa7e2><img alt="huynh ngoc nhung" title="Huỳnh Ngọc Nhung"
                            src="images/static.riviu.co/320/image/2020/11/02/b54a10f5f840956c5547fca946ef7d1f.jpg"
                            class="rounded-circle  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                      </a></div>
                    <div class="flex-grow-1 mt-3" style="width: calc(100% - 80px)" data-v-ccafa7e2>
                      <div class="mb-4 d-flex align-items-center" data-v-ccafa7e2>
                        <div class="author-info ml-4" data-v-ccafa7e2>
                          <div class="author-name d-flex align-items-center hover" data-v-ccafa7e2>
                            <p class="font-weight-bold" data-v-ccafa7e2><a href="huynh.ngoc.html" data-v-ccafa7e2>
                                <h3 class="author-h3" data-v-ccafa7e2>Huỳnh Ngọc Nhung</h3>
                              </a></p> <small class="ml-2" data-v-ccafa7e2>Level 5</small>
                          </div>
                          <div class="author-summary" data-v-ccafa7e2><span class="mr-2 pr-2" data-v-ccafa7e2>16/12/2020
                              lúc 13:10</span></div>
                        </div>
                        <div class="btn-follow flex-grow-1 text-right" data-v-ccafa7e2><button class="follow"
                            data-v-ccafa7e2>Theo dõi</button></div>
                      </div>
                      <div class="medias mb-3" data-v-ccafa7e2>
                        <div data-v-0d7e042e data-v-ccafa7e2>
                          <!---->
                          <!---->
                          <!---->
                          <div data-v-0d7e042e>
                            <div data-v-64d5f86c data-v-0d7e042e>
                              <div class="media-wrapper row" data-v-64d5f86c></div>
                            </div>
                          </div>
                          <!---->
                        </div>
                      </div>
                      <div class="col-12" data-v-ccafa7e2>
                        <h3 class="title mb-3" data-v-ccafa7e2><b data-v-ccafa7e2><a
                              href="don-giang-sinh-tai-quan-ca-phe-tho-nha-cac-ban-oi.html" data-v-ccafa7e2>
                              <h2 class="title-h2" data-v-ccafa7e2>ĐÓN GIÁNG SINH TẠI QUÁN CÀ PHÊ THỎ NHA CÁC BẠN ƠI :))
                              </h2>
                            </a></b></h3>
                        <div class="content white-space-word mb-3" data-v-ccafa7e2>
                          <div class="content white-space-word mb-3" data-v-4a59fdc4 data-v-ccafa7e2>
                            THE BUNNY
                            Iris 1&amp;2 HaDo Centrosa, 200 đường 3 tháng 2, Phường 12, Quận 10
                            7h - 22h
                            40k-100k

                            Mình được biết quán này là của Ngô Kiến Huy nhưng mãi mới nhớ để đến quán trải nghiệm thử
                            :))
                            Theo mình thấ...
                            <span class="hover btn-see-more-content" data-v-4a59fdc4>Xem thêm</span>
                          </div>
                        </div>
                        <div class="tags-wrapper mb-3 mb-3" data-v-c375d064 data-v-ccafa7e2><a
                            href="hashtag/riviuquan10.html" class="mr-1" data-v-c375d064><span style="font-size:14px;"
                              data-v-c375d064>#riviuquan10</span></a><a href="hashtag/duong3thang2.html" class="mr-1"
                            data-v-c375d064><span style="font-size:14px;" data-v-c375d064>#duong3thang2</span></a><a
                            href="hashtag/thebunny.html" class="mr-1" data-v-c375d064><span style="font-size:14px;"
                              data-v-c375d064>#thebunny</span></a><a href="hashtag/nhunghuynh.html" class="mr-1"
                            data-v-c375d064><span style="font-size:14px;" data-v-c375d064>#nhunghuynh</span></a></div>
                        <div class="d-flex align-items-center mb-3" data-v-ccafa7e2>
                          <div class="star-rating mr-3" data-v-7206ba8a data-v-ccafa7e2><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="0" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="1" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="2" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="3" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="4" checked="checked"
                                class="star-rating star-rating__checkbox" data-v-7206ba8a> <i class="fas fa-star"
                                data-v-7206ba8a></i></label></div>
                          <div class="list-service d-flex align-items-center" data-v-5099d666 data-v-ccafa7e2></div>
                        </div>
                        <div class="place-wrapper d-flex align-items-stretch justify-content-between mb-3"
                          data-v-2adb8eb5 data-v-ccafa7e2>
                          <div class="flex-grow-1 p-3 d-flex info-wrapper align-items-center" data-v-2adb8eb5><a
                              href="the-bunny.html" class="place-avatar hover" data-v-2adb8eb5>
                              <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                                data-v-334ef38b data-v-2adb8eb5><img alt="the bunny - duong 3 thang 2"
                                  title="The Bunny - Đường 3 Tháng 2"
                                  src="images/static.riviu.co/320/image/2020/09/27/a703d86ae921663493a4c7f79bb8e8cb_output.jpg"
                                  class="  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                            </a> <a href="the-bunny.html" class="box-info ml-3" data-v-2adb8eb5>
                              <h3 class="title hover" data-v-2adb8eb5><b data-v-2adb8eb5>The Bunny - Đường 3 Tháng 2</b>
                              </h3>
                              <!---->
                              <p class="text-truncate address" style="max-width:100%;" data-v-2adb8eb5>Iris 1&amp;2 HADO
                                CENTROSA, 200 Đường 3 Tháng 2, Phườn...</p>
                            </a></div>
                          <!---->
                        </div>
                        <div class="action d-flex align-items-center justify-content-between px-4" data-v-ccafa7e2>
                          <div class="hover hover-ic" data-v-ccafa7e2><img src="images/icon/heart.png" alt="heart.png"
                              class="icon" data-v-ccafa7e2> <span class="ml-1" data-v-ccafa7e2>0</span></div>
                          <div class="hover" data-v-ccafa7e2><a
                              href="post/f07ec4369d51474fbdd44938b716dd7b.html#comment" data-v-ccafa7e2><img
                                src="images/icon/comment.png" alt="Riviu" class="icon ml-3" data-v-ccafa7e2></a>
                            <!---->
                          </div>
                          <div class="hover hover-ic" data-v-ccafa7e2><img src="images/icon/bookmark_black.png"
                              alt="Riviu" class="icon ml-3" data-v-ccafa7e2></div>
                          <div class="hover" data-v-ccafa7e2><img src="images/icon/share_black.png" alt="share.png"
                              class="icon ml-3" data-v-ccafa7e2></div>
                        </div> <br data-v-ccafa7e2>
                      </div>
                    </div>
                  </div>
                  <div class="collection-item d-flex mt-3" data-v-ccafa7e2 data-v-01406f35>
                    <div class="author-avatar mt-3" data-v-ccafa7e2><a href="yenoanhnguyen227.html" class="hover"
                        data-v-ccafa7e2>
                        <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                          data-v-334ef38b data-v-ccafa7e2><img alt="yen oanh nguyen" title="Yến Oanh Nguyễn"
                            src="images/static.riviu.co/320/image/2020/12/18/bddba7c5a4f42b7a4f6c735df8e40e92_output.jpg"
                            class="rounded-circle  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                      </a></div>
                    <div class="flex-grow-1 mt-3" style="width: calc(100% - 80px)" data-v-ccafa7e2>
                      <div class="mb-4 d-flex align-items-center" data-v-ccafa7e2>
                        <div class="author-info ml-4" data-v-ccafa7e2>
                          <div class="author-name d-flex align-items-center hover" data-v-ccafa7e2>
                            <p class="font-weight-bold" data-v-ccafa7e2><a href="yenoanhnguyen227.html" data-v-ccafa7e2>
                                <h3 class="author-h3" data-v-ccafa7e2>Yến Oanh Nguyễn</h3>
                              </a></p> <small class="ml-2" data-v-ccafa7e2>Level 5</small>
                          </div>
                          <div class="author-summary" data-v-ccafa7e2><span class="mr-2 pr-2" data-v-ccafa7e2>15/12/2020
                              lúc 13:39</span></div>
                        </div>
                        <div class="btn-follow flex-grow-1 text-right" data-v-ccafa7e2><button class="follow"
                            data-v-ccafa7e2>Theo dõi</button></div>
                      </div>
                      <div class="medias mb-3" data-v-ccafa7e2>
                        <div data-v-0d7e042e data-v-ccafa7e2>
                          <!---->
                          <!---->
                          <!---->
                          <div data-v-0d7e042e>
                            <div data-v-64d5f86c data-v-0d7e042e>
                              <div class="media-wrapper row" data-v-64d5f86c></div>
                            </div>
                          </div>
                          <!---->
                        </div>
                      </div>
                      <div class="col-12" data-v-ccafa7e2>
                        <h3 class="title mb-3" data-v-ccafa7e2><b data-v-ccafa7e2><a href="oromia-coffee-104823.html"
                              data-v-ccafa7e2>
                              <h2 class="title-h2" data-v-ccafa7e2>OROMIA COFFEE</h2>
                            </a></b></h3>
                        <div class="content white-space-word mb-3" data-v-ccafa7e2>
                          <div class="content white-space-word mb-3" data-v-4a59fdc4 data-v-ccafa7e2>
                            Quán có view đẹp, có hồ nuôi cá Koi, buổi sáng ánh sáng chiều vào thì nhìn phải gọi là mê
                            ly. Không gian quán hơi cũ rồi, có mấy chỗ decor bị rơi rớt chưa sửa lại. Đồ uống nói chung
                            là ổn, không đặc s...
                            <span class="hover btn-see-more-content" data-v-4a59fdc4>Xem thêm</span>
                          </div>
                        </div>
                        <div class="tags-wrapper mb-3 mb-3" data-v-c375d064 data-v-ccafa7e2><a
                            href="hashtag/smileview.html" class="mr-1" data-v-c375d064><span style="font-size:14px;"
                              data-v-c375d064>#smileview</span></a><a href="hashtag/quan3.html" class="mr-1"
                            data-v-c375d064><span style="font-size:14px;" data-v-c375d064>#quan3</span></a><a
                            href="hashtag/coffee-202.html" class="mr-1" data-v-c375d064><span style="font-size:14px;"
                              data-v-c375d064>#coffee</span></a><a href="hashtag/saigon-2846.html" class="mr-1"
                            data-v-c375d064><span style="font-size:14px;" data-v-c375d064>#saigon</span></a></div>
                        <div class="d-flex align-items-center mb-3" data-v-ccafa7e2>
                          <div class="star-rating mr-3" data-v-7206ba8a data-v-ccafa7e2><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="0" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="1" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="2" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="3" checked="checked"
                                class="star-rating star-rating__checkbox" data-v-7206ba8a> <i class="fas fa-star"
                                data-v-7206ba8a></i></label><label class="star-rating__star is-disabled"
                              data-v-7206ba8a><input type="radio" disabled="disabled" value="4"
                                class="star-rating star-rating__checkbox" data-v-7206ba8a> <i class="fas fa-star"
                                data-v-7206ba8a></i></label></div>
                          <div class="list-service d-flex align-items-center" data-v-5099d666 data-v-ccafa7e2></div>
                        </div>
                        <div class="place-wrapper d-flex align-items-stretch justify-content-between mb-3"
                          data-v-2adb8eb5 data-v-ccafa7e2>
                          <div class="flex-grow-1 p-3 d-flex info-wrapper align-items-center" data-v-2adb8eb5><a
                              href="oromia-coffee-lounge-235474.html" class="place-avatar hover" data-v-2adb8eb5>
                              <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                                data-v-334ef38b data-v-2adb8eb5><img alt="oromia coffee &amp; lounge"
                                  title="Oromia Coffee &amp; Lounge"
                                  src="images/static.riviu.co/320/image/2020/12/02/5b0f0e8689f87603e904959e9838dc1f.jpg"
                                  class="  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                            </a> <a href="oromia-coffee-lounge-235474.html" class="box-info ml-3" data-v-2adb8eb5>
                              <h3 class="title hover" data-v-2adb8eb5><b data-v-2adb8eb5>Oromia Coffee &amp; Lounge</b>
                              </h3>
                              <!---->
                              <p class="text-truncate address" style="max-width:100%;" data-v-2adb8eb5>193/D3 Nam kì
                                khởi nghĩa, Phường 07, Quận 3, Hồ Ch...</p>
                            </a></div>
                          <!---->
                        </div>
                        <div class="action d-flex align-items-center justify-content-between px-4" data-v-ccafa7e2>
                          <div class="hover hover-ic" data-v-ccafa7e2><img src="images/icon/heart.png" alt="heart.png"
                              class="icon" data-v-ccafa7e2> <span class="ml-1" data-v-ccafa7e2>0</span></div>
                          <div class="hover" data-v-ccafa7e2><a
                              href="post/9529e0b2dc114defb290250f01dbf03d.html#comment" data-v-ccafa7e2><img
                                src="images/icon/comment.png" alt="Riviu" class="icon ml-3" data-v-ccafa7e2></a>
                            <!---->
                          </div>
                          <div class="hover hover-ic" data-v-ccafa7e2><img src="images/icon/bookmark_black.png"
                              alt="Riviu" class="icon ml-3" data-v-ccafa7e2></div>
                          <div class="hover" data-v-ccafa7e2><img src="images/icon/share_black.png" alt="share.png"
                              class="icon ml-3" data-v-ccafa7e2></div>
                        </div> <br data-v-ccafa7e2>
                      </div>
                    </div>
                  </div>
                  <div class="collection-item d-flex mt-3" data-v-ccafa7e2 data-v-01406f35>
                    <div class="author-avatar mt-3" data-v-ccafa7e2><a href="trantrinh277.html" class="hover"
                        data-v-ccafa7e2>
                        <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                          data-v-334ef38b data-v-ccafa7e2><img alt="tran trinh" title="Trần Trinh"
                            src="images/static.riviu.co/320/image/2020/10/17/776e4cf10862c7e0b03a3ac822fe2957_output.jpg"
                            class="rounded-circle  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                      </a></div>
                    <div class="flex-grow-1 mt-3" style="width: calc(100% - 80px)" data-v-ccafa7e2>
                      <div class="mb-4 d-flex align-items-center" data-v-ccafa7e2>
                        <div class="author-info ml-4" data-v-ccafa7e2>
                          <div class="author-name d-flex align-items-center hover" data-v-ccafa7e2>
                            <p class="font-weight-bold" data-v-ccafa7e2><a href="trantrinh277.html" data-v-ccafa7e2>
                                <h3 class="author-h3" data-v-ccafa7e2>Trần Trinh</h3>
                              </a></p> <small class="ml-2" data-v-ccafa7e2>Level 6</small>
                          </div>
                          <div class="author-summary" data-v-ccafa7e2><span class="mr-2 pr-2" data-v-ccafa7e2>15/12/2020
                              lúc 05:21</span></div>
                        </div>
                        <div class="btn-follow flex-grow-1 text-right" data-v-ccafa7e2><button class="follow"
                            data-v-ccafa7e2>Theo dõi</button></div>
                      </div>
                      <div class="medias mb-3" data-v-ccafa7e2>
                        <div data-v-0d7e042e data-v-ccafa7e2>
                          <!---->
                          <!---->
                          <!---->
                          <div data-v-0d7e042e>
                            <div data-v-64d5f86c data-v-0d7e042e>
                              <div class="media-wrapper row" data-v-64d5f86c></div>
                            </div>
                          </div>
                          <!---->
                        </div>
                      </div>
                      <div class="col-12" data-v-ccafa7e2>
                        <h3 class="title mb-3" data-v-ccafa7e2><b data-v-ccafa7e2><a href="-104415.html"
                              data-v-ccafa7e2>
                              <h2 class="title-h2" data-v-ccafa7e2>☕ 𝗤𝘂𝗮́𝗻 𝗖𝗼𝗳𝗳𝗲𝗲 𝗻𝗵𝘂̛ 𝗥𝗲𝘀𝗼𝗿𝘁
                                𝗖𝗵𝗮̂𝘂 𝗔̂𝘂 ☕</h2>
                            </a></b></h3>
                        <div class="content white-space-word mb-3" data-v-ccafa7e2>
                          <div class="content white-space-word mb-3" data-v-4a59fdc4 data-v-ccafa7e2>
                            ♥️ Ngay khi đặt chân vào OZ Coffee House, bạn sẽ cảm nhận một thế giới lãng mạn của những
                            mảng xanh cổ tích, yên tĩnh xinh xắn và riêng biệt. Đặc biệt, phía sân trước của quán là dàn
                            cây xanh mát mắt,...
                            <span class="hover btn-see-more-content" data-v-4a59fdc4>Xem thêm</span>
                          </div>
                        </div>
                        <div class="tags-wrapper mb-3 mb-3" data-v-c375d064 data-v-ccafa7e2><a href="hashtag/quan3.html"
                            class="mr-1" data-v-c375d064><span style="font-size:14px;"
                              data-v-c375d064>#quan3</span></a><a href="hashtag/trinhtran277.html" class="mr-1"
                            data-v-c375d064><span style="font-size:14px;" data-v-c375d064>#trinhtran277</span></a><a
                            href="hashtag/levansy.html" class="mr-1" data-v-c375d064><span style="font-size:14px;"
                              data-v-c375d064>#levansy</span></a><a href="hashtag/ozcoffeehouse.html" class="mr-1"
                            data-v-c375d064><span style="font-size:14px;" data-v-c375d064>#ozcoffeehouse</span></a>
                        </div>
                        <div class="d-flex align-items-center mb-3" data-v-ccafa7e2>
                          <div class="star-rating mr-3" data-v-7206ba8a data-v-ccafa7e2><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="0" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="1" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="2" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="3" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="4" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label></div>
                          <div class="list-service d-flex align-items-center" data-v-5099d666 data-v-ccafa7e2></div>
                        </div>
                        <div class="place-wrapper d-flex align-items-stretch justify-content-between mb-3"
                          data-v-2adb8eb5 data-v-ccafa7e2>
                          <div class="flex-grow-1 p-3 d-flex info-wrapper align-items-center" data-v-2adb8eb5><a
                              href="oz-coffee-house-237495.html" class="place-avatar hover" data-v-2adb8eb5>
                              <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                                data-v-334ef38b data-v-2adb8eb5><img alt="oz coffee house" title="OZ Coffee House"
                                  src="images/static.riviu.co/320/image/2020/12/15/a11db6a1cf6199916d8488e73077f344_output.jpg"
                                  class="  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                            </a> <a href="oz-coffee-house-237495.html" class="box-info ml-3" data-v-2adb8eb5>
                              <h3 class="title hover" data-v-2adb8eb5><b data-v-2adb8eb5>OZ Coffee House</b></h3>
                              <!---->
                              <p class="text-truncate address" style="max-width:100%;" data-v-2adb8eb5>Hẻm 207 Lê Văn
                                Sỹ, Phường 13, Quận 3, Thành phố Hồ...</p>
                            </a></div>
                          <!---->
                        </div>
                        <div class="action d-flex align-items-center justify-content-between px-4" data-v-ccafa7e2>
                          <div class="hover hover-ic" data-v-ccafa7e2><img src="images/icon/heart.png" alt="heart.png"
                              class="icon" data-v-ccafa7e2> <span class="ml-1" data-v-ccafa7e2>0</span></div>
                          <div class="hover" data-v-ccafa7e2><a
                              href="post/3ba4e22cb05f40469123262fd5ce594e.html#comment" data-v-ccafa7e2><img
                                src="images/icon/comment.png" alt="Riviu" class="icon ml-3" data-v-ccafa7e2></a> <span
                              class="ml-1" data-v-ccafa7e2>1</span></div>
                          <div class="hover hover-ic" data-v-ccafa7e2><img src="images/icon/bookmark_black.png"
                              alt="Riviu" class="icon ml-3" data-v-ccafa7e2></div>
                          <div class="hover" data-v-ccafa7e2><img src="images/icon/share_black.png" alt="share.png"
                              class="icon ml-3" data-v-ccafa7e2></div>
                        </div> <br data-v-ccafa7e2>
                      </div>
                    </div>
                  </div>
                  <div class="collection-item d-flex mt-3" data-v-ccafa7e2 data-v-01406f35>
                    <div class="author-avatar mt-3" data-v-ccafa7e2><a href="nguyenngochieu.html" class="hover"
                        data-v-ccafa7e2>
                        <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                          data-v-334ef38b data-v-ccafa7e2><img alt="nguyen ngoc hieu" title="Nguyễn Ngọc Hiếu"
                            src="images/static.riviu.co/320/image/2020/10/07/39b7fb18c6d7fb0d26e3d15e30cc88bd_output.jpg"
                            class="rounded-circle  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                      </a></div>
                    <div class="flex-grow-1 mt-3" style="width: calc(100% - 80px)" data-v-ccafa7e2>
                      <div class="mb-4 d-flex align-items-center" data-v-ccafa7e2>
                        <div class="author-info ml-4" data-v-ccafa7e2>
                          <div class="author-name d-flex align-items-center hover" data-v-ccafa7e2>
                            <p class="font-weight-bold" data-v-ccafa7e2><a href="nguyenngochieu.html" data-v-ccafa7e2>
                                <h3 class="author-h3" data-v-ccafa7e2>Nguyễn Ngọc Hiếu</h3>
                              </a></p> <small class="ml-2" data-v-ccafa7e2>Level 5</small>
                          </div>
                          <div class="author-summary" data-v-ccafa7e2><span class="mr-2 pr-2" data-v-ccafa7e2>15/12/2020
                              lúc 01:30</span></div>
                        </div>
                        <div class="btn-follow flex-grow-1 text-right" data-v-ccafa7e2><button class="follow"
                            data-v-ccafa7e2>Theo dõi</button></div>
                      </div>
                      <div class="medias mb-3" data-v-ccafa7e2>
                        <div data-v-0d7e042e data-v-ccafa7e2>
                          <!---->
                          <!---->
                          <!---->
                          <div data-v-0d7e042e>
                            <div data-v-64d5f86c data-v-0d7e042e>
                              <div class="media-wrapper row" data-v-64d5f86c></div>
                            </div>
                          </div>
                          <!---->
                        </div>
                      </div>
                      <div class="col-12" data-v-ccafa7e2>
                        <h3 class="title mb-3" data-v-ccafa7e2><b data-v-ccafa7e2><a
                              href="noel-dat-gau-di-an-kem-khong-biet-co-bi-chui-khong.html" data-v-ccafa7e2>
                              <h2 class="title-h2" data-v-ccafa7e2>✅ Noel dắt gấu đi ăn kem không biết có bị la không 🥺
                              </h2>
                            </a></b></h3>
                        <div class="content white-space-word mb-3" data-v-ccafa7e2>
                          <div class="content white-space-word mb-3" data-v-4a59fdc4 data-v-ccafa7e2>
                            - Noel các bạn dẫn gấu đi đâu để hâm nóng tình cảm? Nhà hàng? Cà phê? Hay là…? Riêng tui thì
                            tui dẫn gấu đi ăn kem nha 😂. Biết sao không? Tại gì tui biết Dairy Queen mới có 3 loại kem
                            mới siêu ngon m...
                            <span class="hover btn-see-more-content" data-v-4a59fdc4>Xem thêm</span>
                          </div>
                        </div>
                        <div class="tags-wrapper mb-3 mb-3" data-v-c375d064 data-v-ccafa7e2></div>
                        <div class="d-flex align-items-center mb-3" data-v-ccafa7e2>
                          <!---->
                          <div class="list-service d-flex align-items-center" data-v-5099d666 data-v-ccafa7e2></div>
                        </div>
                        <div class="place-wrapper d-flex align-items-stretch justify-content-between mb-3"
                          data-v-2adb8eb5 data-v-ccafa7e2>
                          <div class="flex-grow-1 p-3 d-flex info-wrapper align-items-center" data-v-2adb8eb5><a
                              href="kem-dairy-queen-59220.html" class="place-avatar hover" data-v-2adb8eb5>
                              <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                                data-v-334ef38b data-v-2adb8eb5><img alt="kem dairy queen" title="Kem Dairy Queen"
                                  src="images/static.riviu.vn/320/image/2019/12/04/85195351251aa359a22a09609fb38203_output.jpg"
                                  class="  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                            </a> <a href="kem-dairy-queen-59220.html" class="box-info ml-3" data-v-2adb8eb5>
                              <h3 class="title hover" data-v-2adb8eb5><b data-v-2adb8eb5>Kem Dairy Queen</b></h3>
                              <!---->
                              <p class="text-truncate address" style="max-width:100%;" data-v-2adb8eb5>147 Nguyễn Văn
                                Lượng, Phường 10, Gò Vấp, Hồ Chí Mi...</p>
                            </a></div>
                          <!---->
                        </div>
                        <div class="action d-flex align-items-center justify-content-between px-4" data-v-ccafa7e2>
                          <div class="hover hover-ic" data-v-ccafa7e2><img src="images/icon/heart.png" alt="heart.png"
                              class="icon" data-v-ccafa7e2> <span class="ml-1" data-v-ccafa7e2>0</span></div>
                          <div class="hover" data-v-ccafa7e2><a
                              href="post/6ecd7d078aa44a4498edc8ce3daf2818.html#comment" data-v-ccafa7e2><img
                                src="images/icon/comment.png" alt="Riviu" class="icon ml-3" data-v-ccafa7e2></a> <span
                              class="ml-1" data-v-ccafa7e2>1</span></div>
                          <div class="hover hover-ic" data-v-ccafa7e2><img src="images/icon/bookmark_black.png"
                              alt="Riviu" class="icon ml-3" data-v-ccafa7e2></div>
                          <div class="hover" data-v-ccafa7e2><img src="images/icon/share_black.png" alt="share.png"
                              class="icon ml-3" data-v-ccafa7e2></div>
                        </div> <br data-v-ccafa7e2>
                      </div>
                    </div>
                  </div>
                  <div class="collection-item d-flex mt-3" data-v-ccafa7e2 data-v-01406f35>
                    <div class="author-avatar mt-3" data-v-ccafa7e2><a href="tieuchinh99.html" class="hover"
                        data-v-ccafa7e2>
                        <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                          data-v-334ef38b data-v-ccafa7e2><img alt="nami chan" title="Nami Chan"
                            src="images/static.riviu.co/320/image/2020/12/24/7f0274ffdfe2d00f1e11996826dd1a10.jpg"
                            class="rounded-circle  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                      </a></div>
                    <div class="flex-grow-1 mt-3" style="width: calc(100% - 80px)" data-v-ccafa7e2>
                      <div class="mb-4 d-flex align-items-center" data-v-ccafa7e2>
                        <div class="author-info ml-4" data-v-ccafa7e2>
                          <div class="author-name d-flex align-items-center hover" data-v-ccafa7e2>
                            <p class="font-weight-bold" data-v-ccafa7e2><a href="tieuchinh99.html" data-v-ccafa7e2>
                                <h3 class="author-h3" data-v-ccafa7e2>Nami Chan</h3>
                              </a></p> <small class="ml-2" data-v-ccafa7e2>Level 6</small>
                          </div>
                          <div class="author-summary" data-v-ccafa7e2><span class="mr-2 pr-2" data-v-ccafa7e2>12/12/2020
                              lúc 10:45</span></div>
                        </div>
                        <div class="btn-follow flex-grow-1 text-right" data-v-ccafa7e2><button class="follow"
                            data-v-ccafa7e2>Theo dõi</button></div>
                      </div>
                      <div class="medias mb-3" data-v-ccafa7e2>
                        <div data-v-0d7e042e data-v-ccafa7e2>
                          <!---->
                          <!---->
                          <!---->
                          <div data-v-0d7e042e>
                            <div data-v-64d5f86c data-v-0d7e042e>
                              <div class="media-wrapper row" data-v-64d5f86c></div>
                            </div>
                          </div>
                          <!---->
                        </div>
                      </div>
                      <div class="col-12" data-v-ccafa7e2>
                        <h3 class="title mb-3" data-v-ccafa7e2><b data-v-ccafa7e2><a href="cuoi-tuan-nhe-nhang.html"
                              data-v-ccafa7e2>
                              <h2 class="title-h2" data-v-ccafa7e2>CUỐI TUẦN NHẸ NHÀNG 🌴🌴</h2>
                            </a></b></h3>
                        <div class="content white-space-word mb-3" data-v-ccafa7e2>
                          <div class="content white-space-word mb-3" data-v-4a59fdc4 data-v-ccafa7e2>
                            Cuối tuần nhẹ nhàng hẹn hò cùng con bạn thân ghé CHESSE COFFEE ăn miếng bánh kem việt quất
                            nhâm nhi li đá xay kem chesse thì gọi là đẳng cấp luôn 🥰🥰🥰
                            Không gian thoáng đãng , có view đường phố ngắ...
                            <span class="hover btn-see-more-content" data-v-4a59fdc4>Xem thêm</span>
                          </div>
                        </div>
                        <div class="tags-wrapper mb-3 mb-3" data-v-c375d064 data-v-ccafa7e2><a
                            href="hashtag/ri-viu-app.html" class="mr-1" data-v-c375d064><span style="font-size:14px;"
                              data-v-c375d064>#ri_viu_app</span></a><a href="hashtag/coffee-202.html" class="mr-1"
                            data-v-c375d064><span style="font-size:14px;" data-v-c375d064>#coffee</span></a><a
                            href="hashtag/saigon-2846.html" class="mr-1" data-v-c375d064><span style="font-size:14px;"
                              data-v-c375d064>#saigon</span></a><a href="hashtag/duon9285.html" class="mr-1"
                            data-v-c375d064><span style="font-size:14px;" data-v-c375d064>#duon9285</span></a></div>
                        <div class="d-flex align-items-center mb-3" data-v-ccafa7e2>
                          <div class="star-rating mr-3" data-v-7206ba8a data-v-ccafa7e2><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="0" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="1" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="2" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="3" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="4" checked="checked"
                                class="star-rating star-rating__checkbox" data-v-7206ba8a> <i class="fas fa-star"
                                data-v-7206ba8a></i></label></div>
                          <div class="list-service d-flex align-items-center" data-v-5099d666 data-v-ccafa7e2></div>
                        </div>
                        <div class="place-wrapper d-flex align-items-stretch justify-content-between mb-3"
                          data-v-2adb8eb5 data-v-ccafa7e2>
                          <div class="flex-grow-1 p-3 d-flex info-wrapper align-items-center" data-v-2adb8eb5><a
                              href="cheese-coffee-237105.html" class="place-avatar hover" data-v-2adb8eb5>
                              <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                                data-v-334ef38b data-v-2adb8eb5><img alt="cheese coffee" title="Cheese Coffee"
                                  src="images/static.riviu.co/320/image/2020/12/12/297c6a764ad5608de3fd364469976174_output.jpg"
                                  class="  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                            </a> <a href="cheese-coffee-237105.html" class="box-info ml-3" data-v-2adb8eb5>
                              <h3 class="title hover" data-v-2adb8eb5><b data-v-2adb8eb5>Cheese Coffee</b></h3>
                              <!---->
                              <p class="text-truncate address" style="max-width:100%;" data-v-2adb8eb5>Cheese Coffee,
                                Đường Phan Văn Trị, phường 11, Bình...</p>
                            </a></div>
                          <!---->
                        </div>
                        <div class="action d-flex align-items-center justify-content-between px-4" data-v-ccafa7e2>
                          <div class="hover hover-ic" data-v-ccafa7e2><img src="images/icon/heart.png" alt="heart.png"
                              class="icon" data-v-ccafa7e2> <span class="ml-1" data-v-ccafa7e2>0</span></div>
                          <div class="hover" data-v-ccafa7e2><a
                              href="post/470dcd140c0940c38f05d0665089dc7b.html#comment" data-v-ccafa7e2><img
                                src="images/icon/comment.png" alt="Riviu" class="icon ml-3" data-v-ccafa7e2></a>
                            <!---->
                          </div>
                          <div class="hover hover-ic" data-v-ccafa7e2><img src="images/icon/bookmark_black.png"
                              alt="Riviu" class="icon ml-3" data-v-ccafa7e2></div>
                          <div class="hover" data-v-ccafa7e2><img src="images/icon/share_black.png" alt="share.png"
                              class="icon ml-3" data-v-ccafa7e2></div>
                        </div> <br data-v-ccafa7e2>
                      </div>
                    </div>
                  </div>
                  <div class="collection-item d-flex mt-3" data-v-ccafa7e2 data-v-01406f35>
                    <div class="author-avatar mt-3" data-v-ccafa7e2><a href="truong.le.html" class="hover"
                        data-v-ccafa7e2>
                        <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                          data-v-334ef38b data-v-ccafa7e2><img alt="truong le thuan an" title="Trương Lê Thuận An"
                            src="images/static.riviu.co/320/image/2020/11/07/2cc53ce2ee31d7a35d92a8a8ff784827.jpg"
                            class="rounded-circle  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                      </a></div>
                    <div class="flex-grow-1 mt-3" style="width: calc(100% - 80px)" data-v-ccafa7e2>
                      <div class="mb-4 d-flex align-items-center" data-v-ccafa7e2>
                        <div class="author-info ml-4" data-v-ccafa7e2>
                          <div class="author-name d-flex align-items-center hover" data-v-ccafa7e2>
                            <p class="font-weight-bold" data-v-ccafa7e2><a href="truong.le.html" data-v-ccafa7e2>
                                <h3 class="author-h3" data-v-ccafa7e2>Trương Lê Thuận An</h3>
                              </a></p> <small class="ml-2" data-v-ccafa7e2>Level 5</small>
                          </div>
                          <div class="author-summary" data-v-ccafa7e2><span class="mr-2 pr-2" data-v-ccafa7e2>12/12/2020
                              lúc 04:47</span></div>
                        </div>
                        <div class="btn-follow flex-grow-1 text-right" data-v-ccafa7e2><button class="follow"
                            data-v-ccafa7e2>Theo dõi</button></div>
                      </div>
                      <div class="medias mb-3" data-v-ccafa7e2>
                        <div data-v-0d7e042e data-v-ccafa7e2>
                          <!---->
                          <!---->
                          <!---->
                          <div data-v-0d7e042e>
                            <div data-v-64d5f86c data-v-0d7e042e>
                              <div class="media-wrapper row" data-v-64d5f86c></div>
                            </div>
                          </div>
                          <!---->
                        </div>
                      </div>
                      <div class="col-12" data-v-ccafa7e2>
                        <h3 class="title mb-3" data-v-ccafa7e2><b data-v-ccafa7e2><a href="the-garden-house-102643.html"
                              data-v-ccafa7e2>
                              <h2 class="title-h2" data-v-ccafa7e2>THE GARDEN HOUSE</h2>
                            </a></b></h3>
                        <div class="content white-space-word mb-3" data-v-ccafa7e2>
                          <div class="content white-space-word mb-3" data-v-4a59fdc4 data-v-ccafa7e2>
                            Với không gian hoa lá khá lãng mạn, không ồn ào, rất riêng tư, cafe The Garden House chính
                            là địa điểm lý tưởng để hẹn hò với gấu. Quán không chỉ có không gian xanh mát mà còn là có
                            nhiều background ...
                            <span class="hover btn-see-more-content" data-v-4a59fdc4>Xem thêm</span>
                          </div>
                        </div>
                        <div class="tags-wrapper mb-3 mb-3" data-v-c375d064 data-v-ccafa7e2><a
                            href="hashtag/binhduong.html" class="mr-1" data-v-c375d064><span style="font-size:14px;"
                              data-v-c375d064>#binhduong</span></a><a href="hashtag/coffe.html" class="mr-1"
                            data-v-c375d064><span style="font-size:14px;" data-v-c375d064>#coffe</span></a><a
                            href="hashtag/riviu-chat-chuan.html" class="mr-1" data-v-c375d064><span
                              style="font-size:14px;" data-v-c375d064>#riviu_chat_chuan</span></a><a
                            href="hashtag/carolina.html" class="mr-1" data-v-c375d064><span style="font-size:14px;"
                              data-v-c375d064>#carolina</span></a></div>
                        <div class="d-flex align-items-center mb-3" data-v-ccafa7e2>
                          <div class="star-rating mr-3" data-v-7206ba8a data-v-ccafa7e2><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="0" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="1" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="2" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="3" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label><label
                              class="star-rating__star is-selected is-disabled" data-v-7206ba8a><input type="radio"
                                disabled="disabled" value="4" class="star-rating star-rating__checkbox" data-v-7206ba8a>
                              <i class="fas fa-star" data-v-7206ba8a></i></label></div>
                          <div class="list-service d-flex align-items-center" data-v-5099d666 data-v-ccafa7e2></div>
                        </div>
                        <div class="place-wrapper d-flex align-items-stretch justify-content-between mb-3"
                          data-v-2adb8eb5 data-v-ccafa7e2>
                          <div class="flex-grow-1 p-3 d-flex info-wrapper align-items-center" data-v-2adb8eb5><a
                              href="the-garden-house.html" class="place-avatar hover" data-v-2adb8eb5>
                              <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                                data-v-334ef38b data-v-2adb8eb5><img alt="the garden house" title="The Garden House"
                                  src="images/static.riviu.co/320/image/2020/12/12/65bb3460cc2d866a7c5633c344aff0c2_output.jpg"
                                  class="  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                            </a> <a href="the-garden-house.html" class="box-info ml-3" data-v-2adb8eb5>
                              <h3 class="title hover" data-v-2adb8eb5><b data-v-2adb8eb5>The Garden House</b></h3>
                              <!---->
                              <p class="text-truncate address" style="max-width:100%;" data-v-2adb8eb5>54-74 Đường N7,
                                KDC Phú Hoà, P. Phú Hoà, Thị Xã Th...</p>
                            </a></div>
                          <!---->
                        </div>
                        <div class="action d-flex align-items-center justify-content-between px-4" data-v-ccafa7e2>
                          <div class="hover hover-ic" data-v-ccafa7e2><img src="images/icon/heart.png" alt="heart.png"
                              class="icon" data-v-ccafa7e2> <span class="ml-1" data-v-ccafa7e2>0</span></div>
                          <div class="hover" data-v-ccafa7e2><a
                              href="post/0461256f178340ec8b5607b6c7ba5bf0.html#comment" data-v-ccafa7e2><img
                                src="images/icon/comment.png" alt="Riviu" class="icon ml-3" data-v-ccafa7e2></a>
                            <!---->
                          </div>
                          <div class="hover hover-ic" data-v-ccafa7e2><img src="images/icon/bookmark_black.png"
                              alt="Riviu" class="icon ml-3" data-v-ccafa7e2></div>
                          <div class="hover" data-v-ccafa7e2><img src="images/icon/share_black.png" alt="share.png"
                              class="icon ml-3" data-v-ccafa7e2></div>
                        </div> <br data-v-ccafa7e2>
                      </div>
                    </div>
                  </div>
                  <!---->
                  <!---->
                </div>
                <div class="container-ads" data-v-01406f35>
                  <div style="padding-top:60px;" data-v-2b070dcd data-v-01406f35>
                    <div class="banner-1" data-v-2b070dcd>
                      <!---->
                    </div>
                    <div class="banner-2" data-v-2b070dcd>
                      <!---->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
          </div>
          <footer data-v-c24c6720>
            <div class="container" data-v-c24c6720>
              <div class="row col-xs-10 col-md-10" style="margin: auto" data-v-c24c6720>
                <div class="col-xs-5 col-md-5" data-v-c24c6720>
                  <div class="qrcode-box" data-v-c24c6720><img src="images/qrcode.jpg" alt="app-store.svg"
                      class="qrcode-box" data-v-c24c6720>-
                  </div>
                  <div class="download-app" data-v-c24c6720>
                    <div class="icon-app" data-v-c24c6720><a rel="nofollow"
                        href="https://itunes.apple.com/us/app/lixi/id1206197078?ls=1&amp;mt=8" target="_blank"
                        class="img-app" data-v-c24c6720><img src="images/apple_download.svg" alt="apple_download.svg"
                          style="width: 120px" data-v-c24c6720></a></div>
                    <div class="icon-app" data-v-c24c6720><a rel="nofollow"
                        href="https://play.google.com/store/apps/details?id=com.opencheck.client" target="_blank"
                        class="img-app" data-v-c24c6720><img src="images/google_download.svg" alt="google_download.svg"
                          style="width: 135px" data-v-c24c6720></a></div>
                  </div>
                </div>
                <div class="col-xs-3 col-md-3" data-v-c24c6720>
                  <ul class="footer-link-title" data-v-c24c6720>
                    <li data-v-c24c6720><a href="about.html" data-v-c24c6720>
                        <h4 data-v-c24c6720>Về chúng tôi</h4>
                      </a></li>
                    <li data-v-c24c6720><a href="lien-he.html" target="_blank" data-v-c24c6720>
                        <h4 data-v-c24c6720>Liên hệ</h4>
                      </a></li>
                  </ul>
                </div>
                <div class="col-xs-4 col-md-4" data-v-c24c6720>
                  <ul class="footer-link-title" data-v-c24c6720></ul>
                </div>
              </div>
              <hr style="border-top: 1px solid #ffffff" data-v-c24c6720>
              <div class="social d-flex bd-highlight mb-3" data-v-c24c6720>
                <div class="social-img" data-v-c24c6720><a rel="nofollow" target="_blank"
                    href="https://www.facebook.com/Riviu.Official" class="icon-acc" data-v-c24c6720><img
                      src="images/face_icon.svg" alt="Facebook Riviu" data-v-c24c6720></a> <a rel="nofollow"
                    target="_blank" href="https://www.instagram.com/riviu.vn/" class="icon-acc" data-v-c24c6720><img
                      src="images/ita_icon.svg" alt="Instagram Riviu" data-v-c24c6720></a> <a rel="nofollow"
                    target="_blank" href="https://vt.tiktok.com/B5nbky/" class="icon-acc ml-1" data-v-c24c6720><img
                      src="images/tik_icon.svg" alt="Tiktok Riviu" data-v-c24c6720></a></div>
              </div>
              <div class="d-flex justify-content-around align-items-center company-info" data-v-c24c6720>
                <div data-v-c24c6720>Chịu trách nhiệm nội dung: Nguyễn Quang Sang</div>
                <div data-v-c24c6720>© Công Ty TNHH RIVICO</div>
                <div data-v-c24c6720>Địa chỉ: 372-374 Trần Hưng Đạo, Phường 2, Quận 5, HCM</div>
                <div data-v-c24c6720>Số điện thoại: 1900 272736</div>
                <div data-v-c24c6720>MST:0316141166</div>
              </div>
              <div class="d-flex justify-content-center align-items-center company-info" data-v-c24c6720>
                Giấy phép thiết lập MXH số 528/GP-BTTTT , Ký ngày : 17/11/2020
              </div>
            </div>
          </footer>
        </div> <a href="#" id="btnScrollTop" class="d-flex align-items-center justify-content-center"><i
            class="fas fa-caret-up d-flex align-items-center justify-content-center"></i></a>
        <div id="fb-root"></div>
        <!---->
      </div>
    </div>
  </div>
