<noscript data-n-head="ssr" data-hid="gtm-noscript" data-pbody="true"><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-W9TGXV9&amp;" height="0" width="0"
        style="display:none;visibility:hidden" title="gtm"></iframe></noscript><noscript data-n-head="ssr"
    data-hid="gtm-noscript" data-pbody="true"><iframe
        src="http://www.googletagmanager.com/ns.html?id=GTM-W9TGXV9&amp;l=dataLayer" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<div data-server-rendered="true" id="__nuxt">
    <!---->
    <div id="__layout">
        <div>
            <div id="scrollTop"></div>
            <div data-v-c4c3ca86>
                <header class="container-fluid" data-v-c4c3ca86>
                    <div class="d-flex container-header" data-v-c4c3ca86>
                        <div data-v-c4c3ca86><a href="index.html" class="router-link-active" data-v-c4c3ca86><img
                                    src="images/logo.png" alt="Riviu logo" class="logo" data-v-c4c3ca86></a></div>
                        <div class="center-box flex-fill d-flex mx-3" data-v-c4c3ca86>
                            <div class="box-left region" style="line-height: 46px" data-v-c4c3ca86><button
                                    id="dropdownRegion" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" class="dropdown-toggle" data-v-c4c3ca86><span
                                        class="province-name" data-v-c4c3ca86>Hồ Chí Minh</span></button>
                                <div aria-labelledby="dropdownRegion"
                                    class="dropdown-menu dropdown-region mt-3 px-4 py-3" data-v-c4c3ca86>
                                    <div class="location-wrapper col-xs-12" data-v-c4c3ca86>
                                        <div class="popular-location" data-v-c4c3ca86>
                                            <div class="title" data-v-c4c3ca86>Các địa điểm phổ biến</div>
                                            <div id="location-list" class="location-list" data-v-c4c3ca86>
                                                <div class="region-name hover" data-v-c4c3ca86><a
                                                        href="javascript:void(0)" data-v-c4c3ca86>Hồ
                                                        Chí Minh</a></div>
                                                <div class="region-name hover" data-v-c4c3ca86><a
                                                        href="javascript:void(0)" data-v-c4c3ca86>Hà
                                                        Nội</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1 box-search" data-v-c4c3ca86><input type="search" autocomplete="none"
                                    placeholder="Đi đâu, ăn gì?" id="dropdownSearch" data-toggle="dropdown"
                                    aria-haspopup="true" value="" class="form-control dropdown-toggle ml-1"
                                    style="height: 100%; background: transparent" data-v-c4c3ca86> <button type="button"
                                    class="btn search-btn" data-v-c4c3ca86><img src="images/icon/search.png"
                                        alt="search.png" class="icon" data-v-c4c3ca86></button>
                                <div aria-labelledby="dropdownSearch"
                                    class="dropdown-menu dropdown-search mt-3 px-4 py-3" data-v-c4c3ca86><br
                                        data-v-c4c3ca86>
                                    <div data-v-09de05dc data-v-c4c3ca86>
                                        <div class="history-search" data-v-09de05dc>
                                            <div data-v-1664ab72 data-v-09de05dc>
                                                <div class="title mb-2 mt-1" data-v-1664ab72>
                                                    <p class="mb-2 mt-2 d-flex" data-v-1664ab72><span
                                                            class="title flex-grow-1" data-v-1664ab72>Lịch sử tìm
                                                            kiếm</span>
                                                        <!---->
                                                    </p>
                                                </div>
                                                <div class="row keyword-search-wrapper" data-v-1664ab72>
                                                    <!---->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="keyword" data-v-09de05dc>
                                            <p class="title mb-2 mt-1" data-v-09de05dc>Các địa điểm phổ biến</p>
                                            <div class="keyword-search-wrapper d-flex align-items-center flex-wrap"
                                                data-v-09de05dc></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-c4c3ca86>
                            <div class="btn-group dropdown" data-v-b7d3cf5a data-v-c4c3ca86>
                                <div type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    class="dropdown-toggle" data-v-b7d3cf5a>
                                    <div style="margin-right:15px;" data-v-b7d3cf5a data-v-c4c3ca86><a
                                            href="javascript:void(0)" class="text-truncate" style="max-width:100%;"
                                            data-v-b7d3cf5a data-v-c4c3ca86><img alt="Riviu" title="Riviu"
                                                src="images/icon/noti_icon.png"
                                                style="object-fit:cover;width:44px;height:44px;" data-v-334ef38b
                                                data-v-c4c3ca86></a></div>
                                </div>
                                <div class="dropdown-menu" data-v-b7d3cf5a></div>
                            </div>
                        </div>
                        <div data-v-c4c3ca86>
                            <div class="login-div" data-v-c4c3ca86><a href="/viet-bai" class="hover hover-ic"
                                    data-v-c4c3ca86><span class="login-item" data-v-c4c3ca86>Viết bài</span></a></div>
                        </div>
                        <!---->
                    </div>
                </header>
                <div class="container-ads" data-v-c4c3ca86>
                    <!---->
                </div>
            </div>
            <div id="main">
                <div data-v-0ecf4498>
                    <div class="container-fluid" style="background: #fff; padding: 0;" data-v-0ecf4498>
                        <div data-v-ec0539ae data-v-0ecf4498>
                            <div class="container" data-v-ec0539ae>
                                <div class="container-content" data-v-ec0539ae>
                                    <div class="row pt-3" data-v-ec0539ae>
                                        <div class="account-panel col-10" style="margin: auto" data-v-ec0539ae>
                                            <div class="row" data-v-11c57486 data-v-ec0539ae>
                                                <div class="bottom col-12 d-flex align-items-center" data-v-11c57486><a
                                                        href="hie3210.html" class="author-avatar hover" data-v-11c57486>
                                                        <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                                                            data-v-334ef38b data-v-11c57486><img alt="hie" title="Hie"
                                                                src="images/static.riviu.co/320/image/2020/11/16/edf15282d9e983d7e2422a56894926c3_output.jpg"
                                                                class="rounded-circle  thumbnail-inner"
                                                                style="object-fit:cover;" data-v-334ef38b>
                                                        </div>
                                                    </a>
                                                    <div class="author-info ml-4" style="height: 50px;" data-v-11c57486>
                                                        <div style="width: 100%; float: left;" data-v-11c57486><a
                                                                href="hie3210.html"
                                                                class="author-name hover d-flex align-items-center"
                                                                style="float:left;" data-v-11c57486>
                                                                <p class="font-weight-bold" data-v-11c57486>Hie</p>
                                                            </a>
                                                            <div class="btn-follow flex-grow-1 text-right"
                                                                data-v-11c57486></div>
                                                        </div>
                                                        <div class="author-summary" data-v-11c57486>
                                                            16:31 ngày 17/12/2020 tại
                                                            <a href="dop-caffe.html" class="name-place"
                                                                data-v-11c57486>DOP CAFFE</a>
                                                        </div>
                                                    </div>
                                                    <div class="rating-post" data-v-11c57486>
                                                        <div class="item-rating" data-v-11c57486><img
                                                                src="images/post/star.svg" alt="star.svg"
                                                                class="rating-img" data-v-11c57486> <span
                                                                class="span-post" data-v-11c57486>5</span>
                                                            <span class="span-point" data-v-11c57486>/5</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" data-v-ec0539ae>
                                        <div class="col-12 post-content pt-3" data-v-ec0539ae>
                                            <div type="1" allow_tracking="true" data-v-1215ea75 data-v-ec0539ae>
                                                <div class="media-wrapper" data-v-1215ea75>
                                                    <div class="container-fluid" data-v-1215ea75>
                                                        <div class="container" data-v-1215ea75>
                                                            <div class="glide" data-v-1215ea75>
                                                                <div data-glide-el="track" class="glide__track">
                                                                    <ul class="glide__slides">
                                                                        <li data-glide-index="0" class="glide__slide"
                                                                            data-v-1215ea75>
                                                                            <div class="d-flex" data-v-1215ea75>
                                                                                <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_4-3"
                                                                                    data-v-334ef38b data-v-1215ea75><img
                                                                                        alt="dop caffe - quan 1 - anh 1"
                                                                                        title="DOP CAFFE - QUẬN 1 - ảnh 1"
                                                                                        src="images/static.riviu.co/960/image/2020/12/17/d21de719022e76e3b6e0eb3ebf80a803_output.jpg"
                                                                                        class="  thumbnail-inner"
                                                                                        style="object-fit:contain;"
                                                                                        data-v-334ef38b>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li data-glide-index="1" class="glide__slide"
                                                                            data-v-1215ea75>
                                                                            <div class="d-flex" data-v-1215ea75>
                                                                                <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_4-3"
                                                                                    data-v-334ef38b data-v-1215ea75><img
                                                                                        alt="dop caffe - quan 1 - anh 2"
                                                                                        title="DOP CAFFE - QUẬN 1 - ảnh 2"
                                                                                        src="images/static.riviu.co/960/image/2020/12/17/b169f697e08da0b9e92b004322ba9a45_output.jpg"
                                                                                        class="  thumbnail-inner"
                                                                                        style="object-fit:contain;"
                                                                                        data-v-334ef38b>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li data-glide-index="2" class="glide__slide"
                                                                            data-v-1215ea75>
                                                                            <div class="d-flex" data-v-1215ea75>
                                                                                <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_4-3"
                                                                                    data-v-334ef38b data-v-1215ea75><img
                                                                                        alt="dop caffe - quan 1 - anh 3"
                                                                                        title="DOP CAFFE - QUẬN 1 - ảnh 3"
                                                                                        src="images/static.riviu.co/960/image/2020/12/17/91bc35466b864eb69e994233d0e60eb6_output.jpg"
                                                                                        class="  thumbnail-inner"
                                                                                        style="object-fit:contain;"
                                                                                        data-v-334ef38b>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li data-glide-index="3" class="glide__slide"
                                                                            data-v-1215ea75>
                                                                            <div class="d-flex" data-v-1215ea75>
                                                                                <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_4-3"
                                                                                    data-v-334ef38b data-v-1215ea75><img
                                                                                        alt="dop caffe - quan 1 - anh 4"
                                                                                        title="DOP CAFFE - QUẬN 1 - ảnh 4"
                                                                                        src="images/static.riviu.co/960/image/2020/12/17/1c3bcf72d3b5d7d9f2db7d1df15c7665_output.jpg"
                                                                                        class="  thumbnail-inner"
                                                                                        style="object-fit:contain;"
                                                                                        data-v-334ef38b>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li data-glide-index="4" class="glide__slide"
                                                                            data-v-1215ea75>
                                                                            <div class="d-flex" data-v-1215ea75>
                                                                                <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_4-3"
                                                                                    data-v-334ef38b data-v-1215ea75><img
                                                                                        alt="dop caffe - quan 1 - anh 5"
                                                                                        title="DOP CAFFE - QUẬN 1 - ảnh 5"
                                                                                        src="images/static.riviu.co/960/image/2020/12/17/58c7098174fc666287fe894f533ea18e_output.jpg"
                                                                                        class="  thumbnail-inner"
                                                                                        style="object-fit:contain;"
                                                                                        data-v-334ef38b>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li data-glide-index="5" class="glide__slide"
                                                                            data-v-1215ea75>
                                                                            <div class="d-flex" data-v-1215ea75>
                                                                                <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_4-3"
                                                                                    data-v-334ef38b data-v-1215ea75><img
                                                                                        alt="dop caffe - quan 1 - anh 6"
                                                                                        title="DOP CAFFE - QUẬN 1 - ảnh 6"
                                                                                        src="images/static.riviu.co/960/image/2020/12/17/c7daaf7a7f4cb41e9da57cde96d72719_output.jpg"
                                                                                        class="  thumbnail-inner"
                                                                                        style="object-fit:contain;"
                                                                                        data-v-334ef38b>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li data-glide-index="6" class="glide__slide"
                                                                            data-v-1215ea75>
                                                                            <div class="d-flex" data-v-1215ea75>
                                                                                <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_4-3"
                                                                                    data-v-334ef38b data-v-1215ea75><img
                                                                                        alt="dop caffe - quan 1 - anh 7"
                                                                                        title="DOP CAFFE - QUẬN 1 - ảnh 7"
                                                                                        src="images/static.riviu.co/960/image/2020/12/17/733e719dc2c415929693b229cb4b62ff_output.jpg"
                                                                                        class="  thumbnail-inner"
                                                                                        style="object-fit:contain;"
                                                                                        data-v-334ef38b>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li data-glide-index="7" class="glide__slide"
                                                                            data-v-1215ea75>
                                                                            <div class="d-flex" data-v-1215ea75>
                                                                                <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_4-3"
                                                                                    data-v-334ef38b data-v-1215ea75><img
                                                                                        alt="dop caffe - quan 1 - anh 8"
                                                                                        title="DOP CAFFE - QUẬN 1 - ảnh 8"
                                                                                        src="images/static.riviu.co/960/image/2020/12/17/88eddf9660c31e7efeed83db9f679e66_output.jpg"
                                                                                        class="  thumbnail-inner"
                                                                                        style="object-fit:contain;"
                                                                                        data-v-334ef38b>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li data-glide-index="8" class="glide__slide"
                                                                            data-v-1215ea75>
                                                                            <div class="d-flex" data-v-1215ea75>
                                                                                <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_4-3"
                                                                                    data-v-334ef38b data-v-1215ea75><img
                                                                                        alt="dop caffe - quan 1 - anh 9"
                                                                                        title="DOP CAFFE - QUẬN 1 - ảnh 9"
                                                                                        src="images/static.riviu.co/960/image/2020/12/17/dc50fe65af5357a65cd1b2486de1b53c_output.jpg"
                                                                                        class="  thumbnail-inner"
                                                                                        style="object-fit:contain;"
                                                                                        data-v-334ef38b>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li data-glide-index="9" class="glide__slide"
                                                                            data-v-1215ea75>
                                                                            <div class="d-flex" data-v-1215ea75>
                                                                                <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_4-3"
                                                                                    data-v-334ef38b data-v-1215ea75><img
                                                                                        alt="dop caffe - quan 1 - anh 10"
                                                                                        title="DOP CAFFE - QUẬN 1 - ảnh 10"
                                                                                        src="images/static.riviu.co/960/image/2020/12/17/100f7110d4f3b7a2f2abd1a8a93df7d4_output.jpg"
                                                                                        class="  thumbnail-inner"
                                                                                        style="object-fit:contain;"
                                                                                        data-v-334ef38b>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li data-glide-index="10" class="glide__slide"
                                                                            data-v-1215ea75>
                                                                            <div class="d-flex" data-v-1215ea75>
                                                                                <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_4-3"
                                                                                    data-v-334ef38b data-v-1215ea75><img
                                                                                        alt="dop caffe - quan 1 - anh 11"
                                                                                        title="DOP CAFFE - QUẬN 1 - ảnh 11"
                                                                                        src="images/static.riviu.co/960/image/2020/12/17/0574fdd0f435f050286f00f9affe088d_output.jpg"
                                                                                        class="  thumbnail-inner"
                                                                                        style="object-fit:contain;"
                                                                                        data-v-334ef38b>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li data-glide-index="11" class="glide__slide"
                                                                            data-v-1215ea75>
                                                                            <div class="d-flex" data-v-1215ea75>
                                                                                <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_4-3"
                                                                                    data-v-334ef38b data-v-1215ea75><img
                                                                                        alt="dop caffe - quan 1 - anh 12"
                                                                                        title="DOP CAFFE - QUẬN 1 - ảnh 12"
                                                                                        src="images/static.riviu.co/960/image/2020/12/17/fd589c7e2884df13ddde4b1b04d16a37_output.jpg"
                                                                                        class="  thumbnail-inner"
                                                                                        style="object-fit:contain;"
                                                                                        data-v-334ef38b>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li data-glide-index="12" class="glide__slide"
                                                                            data-v-1215ea75>
                                                                            <div class="d-flex" data-v-1215ea75>
                                                                                <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_4-3"
                                                                                    data-v-334ef38b data-v-1215ea75><img
                                                                                        alt="dop caffe - quan 1 - anh 13"
                                                                                        title="DOP CAFFE - QUẬN 1 - ảnh 13"
                                                                                        src="images/static.riviu.co/960/image/2020/12/17/4cd69742f82a384a74a8816fb75e929d_output.jpg"
                                                                                        class="  thumbnail-inner"
                                                                                        style="object-fit:contain;"
                                                                                        data-v-334ef38b>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li data-glide-index="13" class="glide__slide"
                                                                            data-v-1215ea75>
                                                                            <div class="d-flex" data-v-1215ea75>
                                                                                <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_4-3"
                                                                                    data-v-334ef38b data-v-1215ea75><img
                                                                                        alt="dop caffe - quan 1 - anh 14"
                                                                                        title="DOP CAFFE - QUẬN 1 - ảnh 14"
                                                                                        src="images/static.riviu.co/960/image/2020/12/17/3b2a9d3ca32d9041b18085dc300f7654_output.jpg"
                                                                                        class="  thumbnail-inner"
                                                                                        style="object-fit:contain;"
                                                                                        data-v-334ef38b>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li data-glide-index="14" class="glide__slide"
                                                                            data-v-1215ea75>
                                                                            <div class="d-flex" data-v-1215ea75>
                                                                                <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_4-3"
                                                                                    data-v-334ef38b data-v-1215ea75><img
                                                                                        alt="dop caffe - quan 1 - anh 15"
                                                                                        title="DOP CAFFE - QUẬN 1 - ảnh 15"
                                                                                        src="images/static.riviu.co/960/image/2020/12/17/ff2df598ad8794680da126239a84ed11_output.jpg"
                                                                                        class="  thumbnail-inner"
                                                                                        style="object-fit:contain;"
                                                                                        data-v-334ef38b>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li data-glide-index="15" class="glide__slide"
                                                                            data-v-1215ea75>
                                                                            <div class="d-flex" data-v-1215ea75>
                                                                                <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_4-3"
                                                                                    data-v-334ef38b data-v-1215ea75><img
                                                                                        alt="dop caffe - quan 1 - anh 16"
                                                                                        title="DOP CAFFE - QUẬN 1 - ảnh 16"
                                                                                        src="images/static.riviu.co/960/image/2020/12/17/8dfd60339063ffe5cced811f2373aa83_output.jpg"
                                                                                        class="  thumbnail-inner"
                                                                                        style="object-fit:contain;"
                                                                                        data-v-334ef38b>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li data-glide-index="16" class="glide__slide"
                                                                            data-v-1215ea75>
                                                                            <div class="d-flex" data-v-1215ea75>
                                                                                <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_4-3"
                                                                                    data-v-334ef38b data-v-1215ea75><img
                                                                                        alt="dop caffe - quan 1 - anh 17"
                                                                                        title="DOP CAFFE - QUẬN 1 - ảnh 17"
                                                                                        src="images/static.riviu.co/960/image/2020/12/17/6f88f5b67423c939b607ebd4a8d87441_output.jpg"
                                                                                        class="  thumbnail-inner"
                                                                                        style="object-fit:contain;"
                                                                                        data-v-334ef38b>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div data-glide-el="controls"><button
                                                                        data-glide-dir="&lt;" class="prev btn-nav"
                                                                        data-v-1215ea75><i class="fas fa-arrow-left"
                                                                            data-v-1215ea75></i></button> <button
                                                                        data-glide-dir="&gt;" class="next btn-nav"
                                                                        data-v-1215ea75><i class="fas fa-arrow-right"
                                                                            data-v-1215ea75></i></button><span
                                                                        class="span-number" data-v-1215ea75>1/17</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!---->
                                            </div>
                                            <div class="content-body" data-v-1be31edc data-v-ec0539ae>
                                                <div class="top d-flex align-items-center justify-content-between"
                                                    data-v-1be31edc>
                                                    <div class="flex-grow-1" style="flex:1;" data-v-1be31edc>
                                                        <h1 class="title" data-v-1be31edc>DOP CAFFE - QUẬN 1</h1>
                                                        <!---->
                                                    </div>
                                                </div>
                                                <div id="container-content"
                                                    class="white-space-word text-justify mt-4 text-content"
                                                    data-v-1be31edc>D O P C A F F E - D r e a m e r o f P a s s i o n
                                                    📍 59/8 Hồ Hảo Hớn, phường Cô Giang, Quận 1, HCMC.
                                                    🕰 7:30am - 10:30pm
                                                    💵 29 +++
                                                    =
                                                    DOP CAFFE có lẽ là quán cafe mình thấy ok nhất trong những quán cafe
                                                    mới gần đây mình đi.
                                                    Vừa bước vào quán là các bạn nhân viên đã chào rất thân thiện, lúc
                                                    bưng nước ta cũng nhẹ
                                                    nhàng cẩn thận tỉ mỉ, lúc về cũng chào cảm ơn rất toooo 🖤
                                                    Về không gian thì quán có 2 tầng và 1 ban công nhỏ, có nhiều góc
                                                    sống ảo, đẹp nhất là view
                                                    trước quán, có ghế sofa ngồi êm ái không sợ ê mông nhaa -))). Ở đây
                                                    ngoài có góc sống ảo thì
                                                    rất thích hợp để làm việc và học bài, có nhiều bàn ghế trên lầu còn
                                                    có 1 bàn dài lớn. Do hôm
                                                    đó mình đi viê trên lầu các bạn ngồi học bài nhiều nên mình cũng
                                                    ngại chụp.
                                                    Về nước thì rất hài lòng, giá khá rẻ so với các quán gần đây mình mà
                                                    nước thì lại rất vừa
                                                    miệng nữa, mình gọi cafe sữa 35k và trà đào, trà đào ly to đùng mà
                                                    có 55k ah. Ở đây có bán
                                                    bánh nữa nhưng lúc ghé quán là mình vừa ăn trưa xong nên không gọi.
                                                    Tổng thể mình thấy rất ổn chưa có điểm nào để chê, nếu quán gần nhà
                                                    mình nhất định sẽ ghé
                                                    thường xuyên, chỉ tiếc quán hơi xa. Rất đáng để các bạn trải nghiệm.

                                                </div>
                                                <div class="tags-wrapper  d-flex my-2" style="flex-flow:wrap;"
                                                    data-v-f1872f68 data-v-1be31edc><a href="hashtag/dopcaffe.html"
                                                        class="mr-3" data-v-f1872f68>
                                                        <div class="text-tag mt-2" data-v-f1872f68>
                                                            #dopcaffe
                                                        </div>
                                                    </a><a href="hashtag/caphesongao.html" class="mr-3" data-v-f1872f68>
                                                        <div class="text-tag mt-2" data-v-f1872f68>
                                                            #caphesongao
                                                        </div>
                                                    </a><a href="hashtag/coffee-quan1.html" class="mr-3"
                                                        data-v-f1872f68>
                                                        <div class="text-tag mt-2" data-v-f1872f68>
                                                            #coffee_quan1
                                                        </div>
                                                    </a><a href="hashtag/riviu-quan1.html" class="mr-3" data-v-f1872f68>
                                                        <div class="text-tag mt-2" data-v-f1872f68>
                                                            #riviu_quan1
                                                        </div>
                                                    </a><a href="hashtag/hiedicafe.html" class="mr-3" data-v-f1872f68>
                                                        <div class="text-tag mt-2" data-v-f1872f68>
                                                            #hiedicafe
                                                        </div>
                                                    </a><a href="hashtag/cafe-song-ao-22182.html" class="mr-3"
                                                        data-v-f1872f68>
                                                        <div class="text-tag mt-2" data-v-f1872f68>
                                                            #cafe_song_ao
                                                        </div>
                                                    </a><a href="hashtag/quan1-1.html" class="mr-3" data-v-f1872f68>
                                                        <div class="text-tag mt-2" data-v-f1872f68>
                                                            #quan1
                                                        </div>
                                                    </a><a href="hashtag/ca-phe-sai-gon-18319.html" class="mr-3"
                                                        data-v-f1872f68>
                                                        <div class="text-tag mt-2" data-v-f1872f68>
                                                            #ca_phe_sai_gon
                                                        </div>
                                                    </a><a href="hashtag/thanh-ri-viu-3771.html" class="mr-3"
                                                        data-v-f1872f68>
                                                        <div class="text-tag mt-2" data-v-f1872f68>
                                                            #thanh_ri_viu
                                                        </div>
                                                    </a><a href="hashtag/ri-viu-11527.html" class="mr-3"
                                                        data-v-f1872f68>
                                                        <div class="text-tag mt-2" data-v-f1872f68>
                                                            #ri_viu
                                                        </div>
                                                    </a></div>
                                            </div>
                                            <div class="place-wrapper align-items-stretch justify-content-between"
                                                data-v-12abedfd data-v-ec0539ae>
                                                <div class="info-wrapper" data-v-12abedfd>
                                                    <div class="image-wrapper" data-v-12abedfd><a href="dop-caffe.html"
                                                            class="place-avatar hover" data-v-12abedfd>
                                                            <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                                                                data-v-334ef38b data-v-12abedfd><img alt="dop caffe"
                                                                    title="DOP CAFFE"
                                                                    src="images/static.riviu.co/320/image/2020/11/14/bdf4ea112f45d2d28eba7719376aca71_output.jpg"
                                                                    class="  thumbnail-inner" style="object-fit:cover;"
                                                                    data-v-334ef38b></div>
                                                        </a></div>
                                                    <div class="place-info" data-v-12abedfd><a href="dop-caffe.html"
                                                            data-v-12abedfd>
                                                            <div class="title hover" data-v-12abedfd>DOP CAFFE</div>
                                                            <h3 class="address" data-v-12abedfd>
                                                                DOP CAFFE, Hồ Hảo Hớn, Cô Giang, Quận 1, Thành phố Hồ
                                                                Chí Minh, Việt Nam
                                                            </h3>
                                                            <div class="item-rating" data-v-12abedfd><img
                                                                    src="images/post/star.svg" alt="star.svg"
                                                                    class="rating-img" data-v-12abedfd> <span
                                                                    class="span-post" data-v-12abedfd>5</span>
                                                                <span class="rating-count" data-v-12abedfd>(4 đánh
                                                                    giá)</span>
                                                            </div>
                                                        </a></div>                                             
                                                </div>
                                            </div>
                                            <div data-v-db9b1cae data-v-ec0539ae><br data-v-db9b1cae>
                                                <div class="d-flex post-action" style="  border-top:1px solid #f2f2f2"
                                                    data-v-db9b1cae><span class="hover hover-ic  flex-grow-1"
                                                        data-v-db9b1cae><img src="images/icon/heart.png" alt="heart.png"
                                                            class="icon" style="width: 28px; height: 28px;"
                                                            data-v-db9b1cae>

                                                    </span> <span class="hover hover-ic ml-3" data-v-db9b1cae><img
                                                            src="images/icon/share_black.png" alt="share.png"
                                                            class="icon" data-v-db9b1cae></span>
                                                    <!---->
                                                </div>
                                            </div>
                                            <div class="count_view" data-v-ec0539ae><span style="font-weight: 600;"
                                                    data-v-ec0539ae>2.110</span>
                                                lượt xem bài viết
                                            </div>
                                            <div id="comment" data-v-ec0539ae></div>
                                            <div class="mt-4 container-comment" data-v-1c03a90d data-v-ec0539ae>
                                                <div class="title pb-3 mb-4" data-v-1c03a90d>
                                                    <!---->
                                                </div>
                                                <!---->
                                                <!---->
                                                <!---->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-ads" data-v-ec0539ae>
                                    <div class="catalogue-content" data-v-ec0539ae>
                                        <!---->
                                    </div>
                                    <div class="row pt-3" data-v-ec0539ae>
                                        <!---->
                                    </div>
                                    <div class="row pt-3" data-v-ec0539ae>
                                        <!---->
                                    </div>
                                    <!---->
                                </div>
                            </div>
                            <div class="col-12 place-related pt-3" data-v-ec0539ae>
                                <div class="col-10" style="margin:auto" data-v-ec0539ae>
                                    <div data-v-ec0539ae>
                                        <!---->
                                        <!---->
                                    </div>
                                </div>
                            </div>
                            <!---->
                        </div>
                    </div>
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                </div>
                <footer data-v-c24c6720>
                    <div class="container" data-v-c24c6720>
                        <div class="row col-xs-10 col-md-10" style="margin: auto" data-v-c24c6720>
                            <div class="col-xs-5 col-md-5" data-v-c24c6720>
                                <div class="qrcode-box" data-v-c24c6720><img src="images/qrcode.jpg" alt="app-store.svg"
                                        class="qrcode-box" data-v-c24c6720>-
                                </div>
                                <div class="download-app" data-v-c24c6720>
                                    <div class="icon-app" data-v-c24c6720><a rel="nofollow"
                                            href="https://itunes.apple.com/us/app/lixi/id1206197078?ls=1&amp;mt=8"
                                            target="_blank" class="img-app" data-v-c24c6720><img
                                                src="images/apple_download.svg" alt="apple_download.svg"
                                                style="width: 120px" data-v-c24c6720></a></div>
                                    <div class="icon-app" data-v-c24c6720><a rel="nofollow"
                                            href="https://play.google.com/store/apps/details?id=com.opencheck.client"
                                            target="_blank" class="img-app" data-v-c24c6720><img
                                                src="images/google_download.svg" alt="google_download.svg"
                                                style="width: 135px" data-v-c24c6720></a></div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3" data-v-c24c6720>
                                <ul class="footer-link-title" data-v-c24c6720>
                                    <li data-v-c24c6720><a href="about.html" data-v-c24c6720>
                                            <h4 data-v-c24c6720>Về chúng tôi</h4>
                                        </a></li>
                                    <li data-v-c24c6720><a href="lien-he.html" target="_blank" data-v-c24c6720>
                                            <h4 data-v-c24c6720>Liên hệ</h4>
                                        </a></li>
                                </ul>
                            </div>
                            <div class="col-xs-4 col-md-4" data-v-c24c6720>
                                <ul class="footer-link-title" data-v-c24c6720></ul>
                            </div>
                        </div>
                        <hr style="border-top: 1px solid #ffffff" data-v-c24c6720>
                        <div class="social d-flex bd-highlight mb-3" data-v-c24c6720>
                            <div class="social-img" data-v-c24c6720><a rel="nofollow" target="_blank"
                                    href="https://www.facebook.com/Riviu.Official" class="icon-acc" data-v-c24c6720><img
                                        src="images/face_icon.svg" alt="Facebook Riviu" data-v-c24c6720></a> <a
                                    rel="nofollow" target="_blank" href="https://www.instagram.com/riviu.vn/"
                                    class="icon-acc" data-v-c24c6720><img src="images/ita_icon.svg"
                                        alt="Instagram Riviu" data-v-c24c6720></a> <a rel="nofollow" target="_blank"
                                    href="https://vt.tiktok.com/B5nbky/" class="icon-acc ml-1" data-v-c24c6720><img
                                        src="images/tik_icon.svg" alt="Tiktok Riviu" data-v-c24c6720></a></div>
                        </div>
                        <div class="d-flex justify-content-around align-items-center company-info" data-v-c24c6720>
                            <div data-v-c24c6720>Chịu trách nhiệm nội dung: Nguyễn Quang Sang</div>
                            <div data-v-c24c6720>© Công Ty TNHH RIVICO</div>
                            <div data-v-c24c6720>Địa chỉ: 372-374 Trần Hưng Đạo, Phường 2, Quận 5, HCM</div>
                            <div data-v-c24c6720>Số điện thoại: 1900 272736</div>
                            <div data-v-c24c6720>MST:0316141166</div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center company-info" data-v-c24c6720>
                            Giấy phép thiết lập MXH số 528/GP-BTTTT , Ký ngày : 17/11/2020
                        </div>
                    </div>
                </footer>
            </div> <a href="#" id="btnScrollTop" class="d-flex align-items-center justify-content-center"><i
                    class="fas fa-caret-up d-flex align-items-center justify-content-center"></i></a>
            <div id="fb-root"></div>
            <!---->
        </div>
    </div>
</div>