<noscript data-n-head="ssr" data-hid="gtm-noscript" data-pbody="true"><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-W9TGXV9&amp;" height="0" width="0"
      style="display:none;visibility:hidden" title="gtm"></iframe></noscript><noscript data-n-head="ssr"
    data-hid="gtm-noscript" data-pbody="true"><iframe
      src="http://www.googletagmanager.com/ns.html?id=GTM-W9TGXV9&amp;l=dataLayer" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <div data-server-rendered="true" id="__nuxt">
    <!---->
    <div id="__layout">
      <div>
        <div id="scrollTop"></div>
        <div data-v-c4c3ca86>
          <header class="container-fluid" data-v-c4c3ca86>
            <div class="d-flex container-header" data-v-c4c3ca86>
              <div data-v-c4c3ca86><a href="index.html" class="router-link-active" data-v-c4c3ca86><img
                    src="images/logo.png" alt="Riviu logo" class="logo" data-v-c4c3ca86></a></div>
              <div class="center-box flex-fill d-flex mx-3" data-v-c4c3ca86>
                <div class="box-left region" style="line-height: 46px" data-v-c4c3ca86><button id="dropdownRegion"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"
                    data-v-c4c3ca86><span class="province-name" data-v-c4c3ca86>Hồ Chí Minh</span></button>
                  <div aria-labelledby="dropdownRegion" class="dropdown-menu dropdown-region mt-3 px-4 py-3"
                    data-v-c4c3ca86>
                    <div class="location-wrapper col-xs-12" data-v-c4c3ca86>
                      <div class="popular-location" data-v-c4c3ca86>
                        <div class="title" data-v-c4c3ca86>Các địa điểm phổ biến</div>
                        <div id="location-list" class="location-list" data-v-c4c3ca86>
                          <div class="region-name hover" data-v-c4c3ca86><a href="javascript:void(0)" data-v-c4c3ca86>Hồ
                              Chí Minh</a></div>
                          <div class="region-name hover" data-v-c4c3ca86><a href="javascript:void(0)" data-v-c4c3ca86>Hà
                              Nội</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex-grow-1 box-search" data-v-c4c3ca86><input type="search" autocomplete="none"
                    placeholder="Đi đâu, ăn gì?" id="dropdownSearch" data-toggle="dropdown" aria-haspopup="true"
                    value="" class="form-control dropdown-toggle ml-1" style="height: 100%; background: transparent"
                    data-v-c4c3ca86> <button type="button" class="btn search-btn" data-v-c4c3ca86><img
                      src="images/icon/search.png" alt="search.png" class="icon" data-v-c4c3ca86></button>
                  <div aria-labelledby="dropdownSearch" class="dropdown-menu dropdown-search mt-3 px-4 py-3"
                    data-v-c4c3ca86><br data-v-c4c3ca86>
                    <div data-v-09de05dc data-v-c4c3ca86>
                      <div class="history-search" data-v-09de05dc>
                        <div data-v-1664ab72 data-v-09de05dc>
                          <div class="title mb-2 mt-1" data-v-1664ab72>
                            <p class="mb-2 mt-2 d-flex" data-v-1664ab72><span class="title flex-grow-1"
                                data-v-1664ab72>Lịch sử tìm kiếm</span>
                              <!---->
                            </p>
                          </div>
                          <div class="row keyword-search-wrapper" data-v-1664ab72>
                            <!---->
                          </div>
                        </div>
                      </div>
                      <div class="keyword" data-v-09de05dc>
                        <p class="title mb-2 mt-1" data-v-09de05dc>Các địa điểm phổ biến</p>
                        <div class="keyword-search-wrapper d-flex align-items-center flex-wrap" data-v-09de05dc></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-v-c4c3ca86>
                <div class="btn-group dropdown" data-v-b7d3cf5a data-v-c4c3ca86>
                  <div type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    class="dropdown-toggle" data-v-b7d3cf5a>
                    <div style="margin-right:15px;" data-v-b7d3cf5a data-v-c4c3ca86><a href="javascript:void(0)"
                        class="text-truncate" style="max-width:100%;" data-v-b7d3cf5a data-v-c4c3ca86><img alt="Riviu"
                          title="Riviu" src="images/icon/noti_icon.png" style="object-fit:cover;width:44px;height:44px;"
                          data-v-334ef38b data-v-c4c3ca86></a></div>
                  </div>
                  <div class="dropdown-menu" data-v-b7d3cf5a></div>
                </div>
              </div>
              <div data-v-c4c3ca86>
                <div class="login-div" data-v-c4c3ca86><a href="/viet-bai" class="hover hover-ic"
                    data-v-c4c3ca86><span class="login-item" data-v-c4c3ca86>Viết bài</span></a></div>
              </div>
              <!---->
            </div>
          </header>
          <div class="container-ads" data-v-c4c3ca86>
            <!---->
          </div>
        </div>
        <div id="main">
          <div data-v-0ecf4498>
            <div class="container-fluid" style="background: #fff; padding: 0;" data-v-0ecf4498>
              <div data-v-ec0539ae data-v-0ecf4498>
                <div class="container" data-v-ec0539ae>
                  <div class="container-content" data-v-ec0539ae>
                    <div class="row pt-3" data-v-ec0539ae>
                      <div class="account-panel col-10" style="margin: auto" data-v-ec0539ae>
                        <div class="row" data-v-11c57486 data-v-ec0539ae>
                          <div class="bottom col-12 d-flex align-items-center" data-v-11c57486><a href="qchi1206.html"
                              class="author-avatar hover" data-v-11c57486>
                              <div class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                                data-v-334ef38b data-v-11c57486><img alt="quynh chi" title="Quynh Chi"
                                  src="images/static.riviu.co/320/image/2020/10/07/60d2482de6c29c9f0ef7800a8b26dbfa_output.jpg"
                                  class="rounded-circle  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b>
                              </div>
                            </a>
                            <div class="author-info ml-4" style="height: 50px;" data-v-11c57486>
                              <div style="width: 100%; float: left;" data-v-11c57486><a href="qchi1206.html"
                                  class="author-name hover d-flex align-items-center" style="float:left;"
                                  data-v-11c57486>
                                  <p class="font-weight-bold" data-v-11c57486>Quynh Chi</p>
                                </a>
                                <div class="btn-follow flex-grow-1 text-right" data-v-11c57486></div>
                              </div>
                              <div class="author-summary" data-v-11c57486>
                                12:04 ngày 17/12/2020 tại
                                <a href="16-cafe-tea-sua-chua-nep-cam-hat-dac.html" class="name-place"
                                  data-v-11c57486>16+ Cafe &amp; Tea - Sữa Chua Nếp Cẩm Hạt Đác</a>
                              </div>
                            </div>
                            <div class="rating-post" data-v-11c57486>
                              <div class="item-rating" data-v-11c57486><img src="images/post/star.svg" alt="star.svg"
                                  class="rating-img" data-v-11c57486> <span class="span-post" data-v-11c57486>4</span>
                                <span class="span-point" data-v-11c57486>/5</span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" data-v-ec0539ae>
                      <div class="col-12 post-content pt-3" data-v-ec0539ae>
                        <div type="1" allow_tracking="true" data-v-1215ea75 data-v-ec0539ae>
                          <div class="media-wrapper" data-v-1215ea75>
                            <div class="container-fluid" data-v-1215ea75>
                              <div class="container" data-v-1215ea75>
                                <div class="glide" data-v-1215ea75>
                                  <div data-glide-el="track" class="glide__track">
                                    <ul class="glide__slides">
                                      <li data-glide-index="0" class="glide__slide" data-v-1215ea75>
                                        <div class="d-flex" data-v-1215ea75>
                                          <div
                                            class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_4-3"
                                            data-v-334ef38b data-v-1215ea75><img
                                              alt="quan cafe tong trang nho nhan xinh xan - anh 1"
                                              title="Quán cafe tông trắng nhỏ nhắn xinh xắn - ảnh 1"
                                              src="images/static.riviu.co/960/image/2020/12/17/2cf5e471c131d420837a35a3c01cfc3e_output.jpg"
                                              class="  thumbnail-inner" style="object-fit:contain;" data-v-334ef38b>
                                          </div>
                                        </div>
                                      </li>
                                      <li data-glide-index="1" class="glide__slide" data-v-1215ea75>
                                        <div class="d-flex" data-v-1215ea75>
                                          <div
                                            class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_4-3"
                                            data-v-334ef38b data-v-1215ea75><img
                                              alt="quan cafe tong trang nho nhan xinh xan - anh 2"
                                              title="Quán cafe tông trắng nhỏ nhắn xinh xắn - ảnh 2"
                                              src="images/static.riviu.co/960/image/2020/12/17/01ae745511b67b9ab7f139d746ee596c_output.jpg"
                                              class="  thumbnail-inner" style="object-fit:contain;" data-v-334ef38b>
                                          </div>
                                        </div>
                                      </li>
                                      <li data-glide-index="2" class="glide__slide" data-v-1215ea75>
                                        <div class="d-flex" data-v-1215ea75>
                                          <div
                                            class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_4-3"
                                            data-v-334ef38b data-v-1215ea75><img
                                              alt="quan cafe tong trang nho nhan xinh xan - anh 3"
                                              title="Quán cafe tông trắng nhỏ nhắn xinh xắn - ảnh 3"
                                              src="images/static.riviu.co/960/image/2020/12/17/141176a57618a05405c240556afd600e_output.jpg"
                                              class="  thumbnail-inner" style="object-fit:contain;" data-v-334ef38b>
                                          </div>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                  <div data-glide-el="controls"><button data-glide-dir="&lt;" class="prev btn-nav"
                                      data-v-1215ea75><i class="fas fa-arrow-left" data-v-1215ea75></i></button> <button
                                      data-glide-dir="&gt;" class="next btn-nav" data-v-1215ea75><i
                                        class="fas fa-arrow-right" data-v-1215ea75></i></button><span
                                      class="span-number" data-v-1215ea75>1/3</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!---->
                        </div>
                        <div class="content-body" data-v-1be31edc data-v-ec0539ae>
                          <div class="top d-flex align-items-center justify-content-between" data-v-1be31edc>
                            <div class="flex-grow-1" style="flex:1;" data-v-1be31edc>
                              <h1 class="title" data-v-1be31edc>Quán cafe tông trắng nhỏ nhắn xinh xắn</h1>
                              <!---->
                            </div>
                          </div>
                          <div id="container-content" class="white-space-word text-justify mt-4 text-content"
                            data-v-1be31edc>16+ Cafe & Tea
                            Quán cà phê cũng chỉ là 1 góc nhỏ nhỏ của shop quần áo thôi gọi là tầng trệt hen vì không
                            gian cũng chẳng rộng mấy đâu nhưng decor rất chi là dễ thương, từng góc nhỏ decor đơn giản
                            vài bông hoa, vài chậu cây thôi nhưng vẫn có nhiều góc sống ảo như thường
                            Ưu điểm:
                            - Địa điểm thuận lợi dễ tìm.
                            - Đồ uống pha chế tạm được.
                            - Trang trí nhẹ nhàng có thể chụp hình một chút.
                            - Kết hợp cả bán phụ kiện và quần áo nên tiện lợi.
                            - Có ổ cắm điện cho ai xài laptop nhưng hơi ít.
                            - Nhân viên nhiệt tình nữa.
                            - Sạch sẽ, thơm. Có cô dọn dẹp riêng nè.
                            - Có đặt chỗ trên app JAMJA và chủ thẻ VPbank được giảm 20%.</div>
                          <div class="tags-wrapper  d-flex my-2" style="flex-flow:wrap;" data-v-f1872f68
                            data-v-1be31edc><a href="hashtag/review-1639.html" class="mr-3" data-v-f1872f68>
                              <div class="text-tag mt-2" data-v-f1872f68>
                                #review
                              </div>
                            </a><a href="hashtag/saigon-uong-gi.html" class="mr-3" data-v-f1872f68>
                              <div class="text-tag mt-2" data-v-f1872f68>
                                #saigon_uong_gi
                              </div>
                            </a><a href="hashtag/coffee-in-saigon-13960.html" class="mr-3" data-v-f1872f68>
                              <div class="text-tag mt-2" data-v-f1872f68>
                                #coffee_in_saigon
                              </div>
                            </a><a href="hashtag/cicifood.html" class="mr-3" data-v-f1872f68>
                              <div class="text-tag mt-2" data-v-f1872f68>
                                #cicifood
                              </div>
                            </a></div>
                        </div>
                        <div class="place-wrapper align-items-stretch justify-content-between" data-v-12abedfd
                          data-v-ec0539ae>
                          <div class="info-wrapper" data-v-12abedfd>
                            <div class="image-wrapper" data-v-12abedfd><a
                                href="16-cafe-tea-sua-chua-nep-cam-hat-dac.html" class="place-avatar hover"
                                data-v-12abedfd>
                                <div
                                  class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                                  data-v-334ef38b data-v-12abedfd><img
                                    alt="16+ cafe &amp; tea - sua chua nep cam hat dac"
                                    title="16+ Cafe &amp; Tea - Sữa Chua Nếp Cẩm Hạt Đác"
                                    src="images/static.riviu.vn/320/image/2020/07/17/d76b931775914d8485793ea70cae60d0.jpg"
                                    class="  thumbnail-inner" style="object-fit:cover;" data-v-334ef38b></div>
                              </a></div>
                            <div class="place-info" data-v-12abedfd><a href="16-cafe-tea-sua-chua-nep-cam-hat-dac.html"
                                data-v-12abedfd>
                                <div class="title hover" data-v-12abedfd>16+ Cafe &amp; Tea - Sữa Chua Nếp Cẩm Hạt Đác
                                </div>
                                <h3 class="address" data-v-12abedfd>
                                  17 Phạm Viết Chánh, P. Nguyễn Cư Trinh, Quận 1, Hồ Chí Minh
                                </h3>
                                <div class="item-rating" data-v-12abedfd><img src="images/post/star.svg" alt="star.svg"
                                    class="rating-img" data-v-12abedfd> <span class="span-post" data-v-12abedfd>4</span>
                                  <span class="rating-count" data-v-12abedfd>(1 đánh giá)</span></div>
                              </a></div>
                          </div>
                        </div>
                        <div data-v-db9b1cae data-v-ec0539ae><br data-v-db9b1cae>
                          <div class="d-flex post-action" style="  border-top:1px solid #f2f2f2" data-v-db9b1cae><span
                              class="hover hover-ic  flex-grow-1" data-v-db9b1cae><img src="images/icon/heart.png"
                                alt="heart.png" class="icon" style="width: 28px; height: 28px;" data-v-db9b1cae>

                            </span> <span class="hover hover-ic ml-3" data-v-db9b1cae><img
                                src="images/icon/share_black.png" alt="share.png" class="icon" data-v-db9b1cae></span>
                            <!---->
                          </div>
                        </div>
                        <div class="count_view" data-v-ec0539ae><span style="font-weight: 600;"
                            data-v-ec0539ae>1.105</span>
                          lượt xem bài viết
                        </div>
                        <div id="comment" data-v-ec0539ae></div>
                        <div class="mt-4 container-comment" data-v-1c03a90d data-v-ec0539ae>
                          <div class="title pb-3 mb-4" data-v-1c03a90d>
                            <!---->
                          </div>
                          <!---->
                          <!---->
                          <!---->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="container-ads" data-v-ec0539ae>
                    <div class="catalogue-content" data-v-ec0539ae>
                      <!---->
                    </div>
                    <div class="row pt-3" data-v-ec0539ae>
                      <!---->
                    </div>
                    <div class="row pt-3" data-v-ec0539ae>
                      <!---->
                    </div>
                    <!---->
                  </div>
                </div>
                <div class="col-12 place-related pt-3" data-v-ec0539ae>
                  <div class="col-10" style="margin:auto" data-v-ec0539ae>
                    <div data-v-ec0539ae>
                      <!---->
                      <!---->
                    </div>
                  </div>
                </div>
                <!---->
              </div>
            </div>
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
          </div>
          <footer data-v-c24c6720>
            <div class="container" data-v-c24c6720>
              <div class="row col-xs-10 col-md-10" style="margin: auto" data-v-c24c6720>
                <div class="col-xs-5 col-md-5" data-v-c24c6720>
                  <div class="qrcode-box" data-v-c24c6720><img src="images/qrcode.jpg" alt="app-store.svg"
                      class="qrcode-box" data-v-c24c6720>-
                  </div>
                  <div class="download-app" data-v-c24c6720>
                    <div class="icon-app" data-v-c24c6720><a rel="nofollow"
                        href="https://itunes.apple.com/us/app/lixi/id1206197078?ls=1&amp;mt=8" target="_blank"
                        class="img-app" data-v-c24c6720><img src="images/apple_download.svg" alt="apple_download.svg"
                          style="width: 120px" data-v-c24c6720></a></div>
                    <div class="icon-app" data-v-c24c6720><a rel="nofollow"
                        href="https://play.google.com/store/apps/details?id=com.opencheck.client" target="_blank"
                        class="img-app" data-v-c24c6720><img src="images/google_download.svg" alt="google_download.svg"
                          style="width: 135px" data-v-c24c6720></a></div>
                  </div>
                </div>
                <div class="col-xs-3 col-md-3" data-v-c24c6720>
                  <ul class="footer-link-title" data-v-c24c6720>
                    <li data-v-c24c6720><a href="about.html" data-v-c24c6720>
                        <h4 data-v-c24c6720>Về chúng tôi</h4>
                      </a></li>
                    <li data-v-c24c6720><a href="lien-he.html" target="_blank" data-v-c24c6720>
                        <h4 data-v-c24c6720>Liên hệ</h4>
                      </a></li>
                  </ul>
                </div>
                <div class="col-xs-4 col-md-4" data-v-c24c6720>
                  <ul class="footer-link-title" data-v-c24c6720></ul>
                </div>
              </div>
              <hr style="border-top: 1px solid #ffffff" data-v-c24c6720>
              <div class="social d-flex bd-highlight mb-3" data-v-c24c6720>
                <div class="social-img" data-v-c24c6720><a rel="nofollow" target="_blank"
                    href="https://www.facebook.com/Riviu.Official" class="icon-acc" data-v-c24c6720><img
                      src="images/face_icon.svg" alt="Facebook Riviu" data-v-c24c6720></a> <a rel="nofollow"
                    target="_blank" href="https://www.instagram.com/riviu.vn/" class="icon-acc" data-v-c24c6720><img
                      src="images/ita_icon.svg" alt="Instagram Riviu" data-v-c24c6720></a> <a rel="nofollow"
                    target="_blank" href="https://vt.tiktok.com/B5nbky/" class="icon-acc ml-1" data-v-c24c6720><img
                      src="images/tik_icon.svg" alt="Tiktok Riviu" data-v-c24c6720></a></div>
              </div>
              <div class="d-flex justify-content-around align-items-center company-info" data-v-c24c6720>
                <div data-v-c24c6720>Chịu trách nhiệm nội dung: Nguyễn Quang Sang</div>
                <div data-v-c24c6720>© Công Ty TNHH RIVICO</div>
                <div data-v-c24c6720>Địa chỉ: 372-374 Trần Hưng Đạo, Phường 2, Quận 5, HCM</div>
                <div data-v-c24c6720>Số điện thoại: 1900 272736</div>
                <div data-v-c24c6720>MST:0316141166</div>
              </div>
              <div class="d-flex justify-content-center align-items-center company-info" data-v-c24c6720>
                Giấy phép thiết lập MXH số 528/GP-BTTTT , Ký ngày : 17/11/2020
              </div>
            </div>
          </footer>
        </div> <a href="#" id="btnScrollTop" class="d-flex align-items-center justify-content-center"><i
            class="fas fa-caret-up d-flex align-items-center justify-content-center"></i></a>
        <div id="fb-root"></div>
        <!---->
      </div>
    </div>
  </div>
