<noscript data-n-head="ssr" data-hid="gtm-noscript" data-pbody="true"><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-W9TGXV9&" height="0" width="0"
        style="display:none;visibility:hidden" title="gtm"></iframe></noscript><noscript data-n-head="ssr"
    data-hid="gtm-noscript" data-pbody="true"><iframe
        src="//www.googletagmanager.com/ns.html?id=GTM-W9TGXV9&l=dataLayer" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<div id="__nuxt">
    <!---->
    <div id="__layout">
        <div>
            <div id="scrollTop"></div>
            <div data-v-c4c3ca86>
                <header class="container-fluid" data-v-c4c3ca86>
                    <div class="d-flex container-header" data-v-c4c3ca86>
                        <div data-v-c4c3ca86><a href="/" class="router-link-exact-active router-link-active"
                                data-v-c4c3ca86><img src="images/logo.png" alt="Riviu logo" class="logo"
                                    data-v-c4c3ca86></a></div>
                        <div class="center-box flex-fill d-flex mx-3" data-v-c4c3ca86>
                            <div class="box-left region" style="line-height: 46px" data-v-c4c3ca86><button
                                    id="dropdownRegion" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" class="dropdown-toggle" data-v-c4c3ca86><span
                                        class="province-name" data-v-c4c3ca86>Hồ Chí Minh</span></button>
                                <div aria-labelledby="dropdownRegion"
                                    class="dropdown-menu dropdown-region mt-3 px-4 py-3" data-v-c4c3ca86>
                                    <div class="location-wrapper col-xs-12" data-v-c4c3ca86>
                                        <div class="popular-location" data-v-c4c3ca86>
                                            <div class="title" data-v-c4c3ca86>Các địa điểm phổ biến</div>
                                            <div id="location-list" class="location-list" data-v-c4c3ca86>
                                                <div class="region-name hover" data-v-c4c3ca86><a
                                                        href="javascript:void(0)" data-v-c4c3ca86>Hồ Chí Minh</a>
                                                </div>
                                                <div class="region-name hover" data-v-c4c3ca86><a
                                                        href="javascript:void(0)" data-v-c4c3ca86>Hà Nội</a></div>
                                                <div class="region-name hover" data-v-c4c3ca86><a
                                                        href="javascript:void(0)" data-v-c4c3ca86>Đà Nẵng</a></div>
                                                <div class="region-name hover" data-v-c4c3ca86><a
                                                        href="javascript:void(0)" data-v-c4c3ca86>Vũng Tàu</a></div>
                                                <div class="region-name hover" data-v-c4c3ca86><a
                                                        href="javascript:void(0)" data-v-c4c3ca86>Huế</a></div>
                                                <div class="region-name hover" data-v-c4c3ca86><a
                                                        href="javascript:void(0)" data-v-c4c3ca86>Đà lạt</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1 box-search" data-v-c4c3ca86><input type="search" autocomplete="none"
                                    placeholder="Đi đâu, ăn gì?" id="dropdownSearch" data-toggle="dropdown"
                                    aria-haspopup="true" value="" class="form-control dropdown-toggle ml-1"
                                    style="height: 100%; background: transparent" data-v-c4c3ca86> <button type="button"
                                    class="btn search-btn" data-v-c4c3ca86><img src="images/icon/search.png"
                                        alt="search.png" class="icon" data-v-c4c3ca86></button>
                                <div aria-labelledby="dropdownSearch"
                                    class="dropdown-menu dropdown-search mt-3 px-4 py-3" data-v-c4c3ca86><br
                                        data-v-c4c3ca86>
                                    <div data-v-09de05dc data-v-c4c3ca86>
                                        <div class="history-search" data-v-09de05dc>
                                            <div data-v-1664ab72 data-v-09de05dc>
                                                <div class="title mb-2 mt-1" data-v-1664ab72>
                                                    <p class="mb-2 mt-2 d-flex" data-v-1664ab72><span
                                                            class="title flex-grow-1" data-v-1664ab72>Lịch sử tìm
                                                            kiếm</span>
                                                        <!---->
                                                    </p>
                                                </div>
                                                <div class="row keyword-search-wrapper" data-v-1664ab72>
                                                    <!---->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="keyword" data-v-09de05dc>
                                            <p class="title mb-2 mt-1" data-v-09de05dc>Các địa điểm phổ biến</p>
                                            <div class="keyword-search-wrapper d-flex align-items-center flex-wrap"
                                                data-v-09de05dc></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-c4c3ca86>
                            <div class="btn-group dropdown" data-v-b7d3cf5a data-v-c4c3ca86>
                                <div type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    class="dropdown-toggle" data-v-b7d3cf5a>
                                    <div style="margin-right:15px;" data-v-b7d3cf5a data-v-c4c3ca86><a
                                            href="javascript:void(0)" class="text-truncate" style="max-width:100%;"
                                            data-v-b7d3cf5a data-v-c4c3ca86><img alt="Riviu" title="Riviu"
                                                src="images/icon/noti_icon.png"
                                                style="object-fit:cover;width:44px;height:44px;" data-v-334ef38b
                                                data-v-c4c3ca86></a></div>
                                </div>
                                <div class="dropdown-menu" data-v-b7d3cf5a></div>
                            </div>
                        </div>
                        <div data-v-c4c3ca86>
                            <div class="login-div" data-v-c4c3ca86><a href="/viet-bai" class="hover hover-ic"
                                    data-v-c4c3ca86><span class="login-item" data-v-c4c3ca86>Viết bài</span></a></div>
                        </div>
                        <!---->
                    </div>
                </header>
                <div class="container-ads" data-v-c4c3ca86>
                    <!---->
                </div>
            </div>
            <div id="main">
                <div data-v-2cd4fa19="" class="container">
                    <div data-v-2cd4fa19="" class="row">
                        <div data-v-2cd4fa19="" class="col-10 offset-1 collection-post-content">
                            <nav data-v-53d0ffbc="" data-v-2cd4fa19="" aria-label="breadcrumb">
                                <ol data-v-53d0ffbc="" class="breadcrumb">
                                    <li data-v-2cd4fa19="" data-v-53d0ffbc="" class="breadcrumb-item"><a
                                            data-v-2cd4fa19="" href="/" class="router-link-active"
                                            data-v-53d0ffbc="">Trang chủ</a></li>
                                    <li data-v-2cd4fa19="" data-v-53d0ffbc="" aria-current="page"
                                        class="breadcrumb-item active">
                                        <h1 data-v-2cd4fa19="" data-v-53d0ffbc="" class="breadcrumb-h1">Viết bài
                                        </h1>
                                    </li>
                                </ol>
                            </nav>
                            <div data-v-2cd4fa19="" class="row mb-5">
                                <div data-v-2cd4fa19="" class="col-10 offset-1 mb-1"
                                    style="background: rgb(255, 255, 255);">
                                    <div data-v-2cd4fa19="" class="d-flex title">
                                        <div data-v-2cd4fa19="" class="p-2 flex-shrink-1 align-self-center label-title">
                                            Tiêu đề
                                        </div> <span data-v-2cd4fa19=""
                                            style="line-height: 40px; color: rgb(220, 220, 220);">|</span>
                                        <div data-v-2cd4fa19="" class="p-2 w-100"><input data-v-2cd4fa19="" type="text"
                                                placeholder="Hãy viết tiêu đề bài"></div>
                                    </div>
                                </div>
                                <div data-v-2cd4fa19="" class="col-10 offset-1 mb-1"
                                    style="background: rgb(255, 255, 255);"><textarea data-v-2cd4fa19="" type="text"
                                        placeholder="Hãy viết cảm nhận của bạn" rows="10" class="ml-2 body-review"
                                        style="width: 100%;"></textarea>
                                    <!---->
                                    <div data-v-2cd4fa19="" class="list-medias mt-3">
                                        <div data-v-9c30c934="" data-v-2cd4fa19="">
                                            <div data-v-9c30c934="" class="media-wrapper row"></div>
                                            <!---->
                                        </div>
                                    </div>
                                    <div data-v-2cd4fa19="" class="switch-text">
                                        Chuyển chế độ viết bài nâng cao
                                    </div>
                                    <!---->
                                </div>
                                <div data-v-2cd4fa19="" class="col-10 offset-1 mb-1"
                                    style="background: rgb(255, 255, 255);">
                                    <div data-v-2cd4fa19="" class="d-flex title">
                                        <div data-v-2cd4fa19="" class="p-2 flex-shrink-1 align-self-center label-title">
                                            Tag
                                        </div> <span data-v-2cd4fa19=""
                                            style="line-height: 40px; color: rgb(220, 220, 220);">|</span>
                                        <div data-v-2cd4fa19="" class="w-100">
                                            <div data-v-2cd4fa19="" tabindex="-1" class="multiselect">
                                                <div class="multiselect__select"></div>
                                                <div class="multiselect__tags">
                                                    <div class="multiselect__tags-wrap" style="display: none;">
                                                    </div>
                                                    <!---->
                                                    <div class="multiselect__spinner" style="display: none;"></div>
                                                    <input name="" id="123kuk" type="text" autocomplete="nope"
                                                        placeholder="Tìm kiếm hay thêm tag" tabindex="0"
                                                        class="multiselect__input"
                                                        style="width: 0px; position: absolute; padding: 0px;">
                                                    <!----> <span class="multiselect__placeholder">
                                                        Tìm kiếm hay thêm tag
                                                    </span>
                                                </div>
                                                <div tabindex="-1" class="multiselect__content-wrapper"
                                                    style="max-height: 300px; display: none;">
                                                    <ul class="multiselect__content" style="display: block;">
                                                        <!---->
                                                        <li style="display: none;"><span class="multiselect__option">No
                                                                elements found.
                                                                Consider changing the search query.</span></li>
                                                        <li><span class="multiselect__option">List is empty.</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-2cd4fa19="" class="col-10 offset-1 mb-1"
                                    style="background: rgb(255, 255, 255);">
                                    <div data-v-2cd4fa19=""
                                        class="service-info d-flex align-items-center justify-content-center">
                                        <div data-v-2cd4fa19=""
                                            class="service-item py-2 px-5 mr-2 rounded-lg hover d-flex align-items-center">
                                            <span data-v-2cd4fa19="" class="image-item"><img data-v-2cd4fa19=""
                                                    src="/images/icon/icon_image.png" width="30px"
                                                    alt="Đặt món trên Riviu"></span> <b data-v-2cd4fa19=""
                                                class="text-center flex-grow-1"><a data-v-2cd4fa19=""
                                                    href="javascript: void(0)">Thêm hình</a></b> <input
                                                data-v-2cd4fa19="" type="file" accept="image/png, image/jpg, image/jpeg"
                                                multiple="multiple" style="display: none;">
                                        </div> <span data-v-2cd4fa19="" class="split-item">|</span>
                                        <div data-v-2cd4fa19=""
                                            class="service-item py-2 px-5 mr-2 rounded-lg hover d-flex align-items-center">
                                            <span data-v-2cd4fa19="" class="video-item"><img data-v-2cd4fa19=""
                                                    src="/images/icon/icon_video.png" width="30px"
                                                    alt="Đặt món trên Riviu"></span> <b data-v-2cd4fa19=""
                                                class="text-center flex-grow-1"><a data-v-2cd4fa19=""
                                                    href="javascript: void(0)">Thêm video</a></b> <input
                                                data-v-2cd4fa19="" type="file" accept="video/*" style="display: none;">
                                        </div>
                                    </div>
                                </div>
                                <div data-v-2cd4fa19="" class="col-10 offset-1 mb-1"
                                    style="background: rgb(255, 255, 255);">
                                    <div data-v-2cd4fa19="" class="d-flex py-2 hover">
                                        <div data-v-2cd4fa19=""
                                            class="p-2 align-self-center label-title flex-grow-1 hover">
                                            Chọn địa điểm
                                        </div>
                                        <div data-v-2cd4fa19="" class="p-2"><i data-v-2cd4fa19=""
                                                class="fa fa-chevron-right"></i></div>
                                    </div>
                                </div>
                                <div data-v-2cd4fa19="" class="col-10 offset-1 place-info mb-1 pb-2"
                                    style="background: rgb(255, 255, 255);">
                                    <div data-v-2cd4fa19="" class="px-2 pt-3 pb-1 hover"><img data-v-2cd4fa19=""
                                            src="/images/icon/icon_place.png" alt="Riviu - địa điểm" class="mr-4">
                                        LARVA Xa Lộ Hà Nội- Mì cay &amp; Ăn Vặt
                                    </div>
                                    <div data-v-2cd4fa19="" class="px-2 pt-3 pb-1 hover"><img data-v-2cd4fa19=""
                                            src="/images/icon/icon_place.png" alt="Riviu - địa điểm" class="mr-4">
                                        Sushi Ông Tân Khánh - Thống Nhất
                                    </div>
                                    <div data-v-2cd4fa19="" class="px-2 pt-3 pb-1 hover"><img data-v-2cd4fa19=""
                                            src="/images/icon/icon_place.png" alt="Riviu - địa điểm" class="mr-4">
                                        Quán ốc Loan - hẻm Lý Thái Tổ
                                    </div>
                                    <div data-v-2cd4fa19="" class="px-2 pt-3 pb-1 hover"><img data-v-2cd4fa19=""
                                            src="/images/icon/icon_place.png" alt="Riviu - địa điểm" class="mr-4">
                                        Tốc Trà - CMT8
                                    </div>
                                    <div data-v-2cd4fa19="" class="px-2 pt-3 pb-1 hover"><img data-v-2cd4fa19=""
                                            src="/images/icon/icon_place.png" alt="Riviu - địa điểm" class="mr-4">
                                        Nam Phát
                                    </div>
                                </div>
                                <!---->
                                <div data-v-2cd4fa19="" class="col-10 offset-1 mb-1"
                                    style="background: rgb(255, 255, 255);">
                                    <div data-v-2cd4fa19="" class="d-flex py-2">
                                        <div data-v-2cd4fa19="" class="p-2 align-self-center label-title flex-grow-1">
                                            Đánh giá của bạn
                                        </div>
                                    </div>
                                </div>
                                <div data-v-2cd4fa19="" class="col-10 offset-1 mb-1 rating-detail py-2"
                                    style="background: rgb(255, 255, 255);">
                                    <div data-v-2cd4fa19="" class="row px-2 py-2">
                                        <div data-v-2cd4fa19="" class="col-3"><span data-v-2cd4fa19="">Đánh giá
                                                chung :</span></div>
                                        <div data-v-2cd4fa19="" class="col-4 star-rating"><img data-v-2cd4fa19=""
                                                src="/images/icon/star_gray.png" width="20" height="20"
                                                class="mr-2 hover"><img data-v-2cd4fa19=""
                                                src="/images/icon/star_gray.png" width="20" height="20"
                                                class="mr-2 hover"><img data-v-2cd4fa19=""
                                                src="/images/icon/star_gray.png" width="20" height="20"
                                                class="mr-2 hover"><img data-v-2cd4fa19=""
                                                src="/images/icon/star_gray.png" width="20" height="20"
                                                class="mr-2 hover"><img data-v-2cd4fa19=""
                                                src="/images/icon/star_gray.png" width="20" height="20"
                                                class="mr-2 hover"></div>
                                        <div data-v-2cd4fa19="" class="col-5"><span data-v-2cd4fa19="">

                                            </span></div>
                                    </div>
                                </div>
                                <div data-v-2cd4fa19="" class="col-10 offset-1 mb-1"
                                    style="background: rgb(255, 255, 255);">
                                    <div data-v-2cd4fa19="" class="d-flex title">
                                        <div data-v-2cd4fa19="" class="p-2 flex-shrink-1 align-self-center label-title">
                                            Youtube
                                        </div>
                                        <div data-v-2cd4fa19="" class="p-2 w-100"><input data-v-2cd4fa19="" type="text"
                                                placeholder="https://www.youtube.com/watch?v=zzzzzzzzz">
                                        </div>
                                    </div>
                                </div>
                                <div data-v-2cd4fa19="" class="col-10 offset-1 mb-2"><button data-v-2cd4fa19=""
                                        type="button" class="btn btn-review btn-submit hover">
                                        Đăng bài
                                        <!---->
                                    </button>
                                    <!---->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                </div>
                <footer data-v-c24c6720="">
                    <div class="container" data-v-c24c6720="">
                        <div class="row col-xs-10 col-md-10" style="margin: auto" data-v-c24c6720="">
                            <div class="col-xs-5 col-md-5" data-v-c24c6720="">
                                <div class="qrcode-box" data-v-c24c6720=""><img src="/images/qrcode.jpg"
                                        alt="app-store.svg" class="qrcode-box" data-v-c24c6720="">-
                                </div>
                                <div class="download-app" data-v-c24c6720="">
                                    <div class="icon-app" data-v-c24c6720=""><a rel="nofollow"
                                            href="https://itunes.apple.com/us/app/lixi/id1206197078?ls=1&amp;mt=8"
                                            target="_blank" class="img-app" data-v-c24c6720=""><img
                                                src="/images/apple_download.svg" alt="apple_download.svg"
                                                style="width: 120px" data-v-c24c6720=""></a></div>
                                    <div class="icon-app" data-v-c24c6720=""><a rel="nofollow"
                                            href="https://play.google.com/store/apps/details?id=com.opencheck.client"
                                            target="_blank" class="img-app" data-v-c24c6720=""><img
                                                src="/images/google_download.svg" alt="google_download.svg"
                                                style="width: 135px" data-v-c24c6720=""></a></div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3" data-v-c24c6720="">
                                <ul class="footer-link-title" data-v-c24c6720="">
                                    <li data-v-c24c6720=""><a href="/about" data-v-c24c6720="" class="">
                                            <h4 data-v-c24c6720="">Về chúng tôi</h4>
                                        </a></li>
                                    <li data-v-c24c6720=""><a href="/lien-he" target="_blank" data-v-c24c6720=""
                                            class="">
                                            <h4 data-v-c24c6720="">Liên hệ</h4>
                                        </a></li>
                                </ul>
                            </div>
                            <div class="col-xs-4 col-md-4" data-v-c24c6720="">
                                <ul class="footer-link-title" data-v-c24c6720=""></ul>
                            </div>
                        </div>
                        <hr style="border-top: 1px solid #ffffff" data-v-c24c6720="">
                        <div class="social d-flex bd-highlight mb-3" data-v-c24c6720="">
                            <div class="social-img" data-v-c24c6720=""><a rel="nofollow" target="_blank"
                                    href="https://www.facebook.com/Riviu.Official" class="icon-acc"
                                    data-v-c24c6720=""><img src="/images/face_icon.svg" alt="Facebook Riviu"
                                        data-v-c24c6720=""></a> <a rel="nofollow" target="_blank"
                                    href="https://www.instagram.com/riviu.vn/" class="icon-acc" data-v-c24c6720=""><img
                                        src="/images/ita_icon.svg" alt="Instagram Riviu" data-v-c24c6720=""></a> <a
                                    rel="nofollow" target="_blank" href="https://vt.tiktok.com/B5nbky/"
                                    class="icon-acc ml-1" data-v-c24c6720=""><img src="/images/tik_icon.svg"
                                        alt="Tiktok Riviu" data-v-c24c6720=""></a></div>
                        </div>
                        <div class="d-flex justify-content-around align-items-center company-info" data-v-c24c6720="">
                            <div data-v-c24c6720="">Chịu trách nhiệm nội dung: Nguyễn Quang Sang</div>
                            <div data-v-c24c6720="">© Công Ty TNHH RIVICO</div>
                            <div data-v-c24c6720="">Địa chỉ: 372-374 Trần Hưng Đạo, Phường 2, Quận 5, HCM</div>
                            <div data-v-c24c6720="">Số điện thoại: 1900 272736</div>
                            <div data-v-c24c6720="">MST:0316141166</div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center company-info" data-v-c24c6720="">
                            Giấy phép thiết lập MXH số 528/GP-BTTTT , Ký ngày : 17/11/2020
                        </div>
                    </div>
                </footer>
            </div> <a href="#" id="btnScrollTop" class="d-flex align-items-center justify-content-center"><i
                    class="fas fa-caret-up d-flex align-items-center justify-content-center"></i></a>
            <div id="fb-root" class=" fb_reset">
                <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
                    <div></div>
                </div>
            </div>
            <!---->
        </div>
    </div>
</div>